{% extends 'stackdio/base.html' %}
{% load staticfiles %}

{% block scripts %}
    <script data-main="/js/main/{{ viewmodel }}" src="{% static 'stackdio/lib/bower_components/requirejs/require.js' %}"></script>
{% endblock %}

{% block links %}
    <li><a href="/">Blueprints</a></li>
    <li><a href="/">Formulas</a></li>
    <li><a href="{% url 'stack-ui-list' %}">Stacks</a></li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>{% block page-title %}{% endblock %}</h1>
            </div>
        </div>
    </div>

    {% block page-content %}{% endblock %}
{% endblock content %}