<template name="stackList">
    <div id="stacks" class="hide text-center view">
        <div>&nbsp;</div>
        <h2>Running Stacks</h2>
        <div class="btn-group pull-right">
            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-plus-sign"></i> New Stack
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                {{#each providers}}
                    <li>
                        <a href="#">{{title}}</a>
                    </li>
                {{/each}}
            </ul>
        </div>    

        {{> stackTable}}
    </div>
</template>

<template name="stackTable">
    <table id="stack-table" class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        {{#each stacks}}
        <tr>
            <td><a href="{{url}}">{{title}}</a></td>
            <td>{{description}}</td>
        </tr>
        {{/each}}
    </table>
</template>
