syntax: glob

dev.db
*.pyc
*.swp
*.un~
stackdio/core/static/stackdio-built.js
stackdio/core/static/stackdio/bower_components
stackdio/core/static/stackdio/node_modules
stackdio/salt/user_states
stackdio/salt/core_states
stackdio/salt/config
stackdio/storage

# build stuff
build/
dist/
stackdio.egg*/

# abe's development stuff
reload.sh
reset_rabbitmq.sh
salt-cloud.sh
*.sublime-project
*.sublime-workspace
.codeintel

# ldap_settings.py
stackdio/stackdio/settings/ldap_settings.py

# collectstatic junk
stackdio/static
