syntax: glob

dev.db
*.pyc
*.swp
*.un~
stackdio/server/core/static/stackdio-built.js
stackdio/server/core/static/stackdio/node_modules
stackdio/server/salt/user_states
stackdio/server/salt/core_states
stackdio/server/salt/config
stackdio/server/storage

# build stuff
build/
dist/
stackdio.egg*/

# abe's development stuff
reload.sh
reset_rabbitmq.sh
salt-cloud.sh
*.sublime-project
*.sublime-workspace
.codeintel
find.sh

# ldap_settings.py
stackdio/server/stackdio/settings/ldap_settings.py

# collectstatic junk
stackdio/server/static

# OSX
.DS_Store
.idea
