.navbar
    .navbar-inner
        .container
            button.btn.btn-navbar(data-toggle="collapse" data-target=".nav-collapse")
                span.icon-bar
                span.icon-bar
                span.icon-bar

            a(href='/' class="brand")
                img(src="img/stackd_32x32.png")
                span.tagline
                    !stackd.io [ a modern cloud provisioning framework ]
