{% extends "stackdio/base.html" %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        {% if validlink %}

        <p>{% trans 'Please enter your new password twice so we can verify you typed it in correctly.' %}</p>

        <form class="form" role="form" action="" method="POST">
            {% csrf_token %}

            <div class="form-group">
                <label for="id_new_password1">{% trans 'New password:' %}</label>
                <input id="id_new_password1" type="password" name="new_password1" class="form-control" required autofocus>
                {% if form.new_password1.errors %}
                    {% for error in form.new_password1.errors %}
                        <span class="help-block"><small class="text-danger">{{ error }}</small></span>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="form-group">
                <label for="id_new_password2">{% trans 'Confirm password:' %}</label>
                <input id="id_new_password2" type="password" name="new_password2" class="form-control" required>
                {% if form.new_password2.errors %}
                    {% for error in form.new_password2.errors %}
                        <span class="help-block"><small class="text-danger">{{ error }}</small></span>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="form-group">
                <button class="btn btn-primary" type="submit">{% trans 'Change password' %}</button>
            </div>
        </form>

        {% else %}

        <p>{% trans 'The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.' %}</p>

        {% endif %}
    </div>
</div>
{% endblock %}
