user: {{ user }}
root_dir: {{ root_dir }}
verify_env: True

fileserver_backend:
  - stackdio
  - roots

file_roots:
  base:
    - {{ root_dir }}/core_states

stackdio:
  user_envs: {{ root_dir }}/user_states

file_ignore_glob:
  - '.git/*'

pillar_roots:
  base:
    - {{ root_dir }}/pillar

# Disable master config from showing in pillar
pillar_opts: False

# Where our external pillar and other custom modules live
extension_modules: {{ root_dir }}/extmods

# Enable our custom external pillar
ext_pillar:
  - stackdio: ''

