{% extends 'stackdio/page.html' %}

{% block title %}Stacks{% endblock %}
{% block stack-class %}active{% endblock %}

{% block page-content %}
    <div class="row" style="margin-top: 15px">
        <div class="col-sm-6 col-sm-push-6 text-right" style="margin-bottom: 10px">
            {% if has_admin %}
                {# Only show the button if the user has permission to see it #}
                <a class="btn btn-warning"
                   href="{% url 'ui:stack-model-permissions' %}">Permissions</a>
            {% endif %}
            {% if has_create %}
                <a class="btn btn-success" href="{% url 'ui:stack-create' %}">New Stack</a>
            {% endif %}
        </div>

        <div class="col-sm-6 col-sm-pull-6" style="margin-bottom: 10px">
            <form data-bind="submit: function () {}">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for stacks..." data-bind="value: searchTerm, valueUpdate: 'keyup'"/>
                    <span class="input-group-btn">
                        <button class="btn btn-success" type="submit">Search</button>
                    </span>
                </div>
            </form>
        </div>
    </div>

    <div class="row" style="margin-top: 10px">
        <div class="col-sm-6 col-sm-push-3 col-xs-12" style="margin: 10px auto">
            <p class="text-center">
                Showing stacks
                <span data-bind="text: startNum"></span>-<span data-bind="text: endNum"></span>
                of <span data-bind="text: count"></span>.
            </p>
        </div>
        <div class="col-sm-3 col-sm-pull-6 col-xs-6">
            <nav>
                <ul class="pager" style="margin: 5px 0 10px 0">
                    <li class="previous" data-bind="css: {disabled: !previousPage()}">
                        <a href="#" data-bind="click: goToPreviousPage"><span
                                aria-hidden="true">&larr;</span> Previous</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-sm-3 col-xs-6">
            <nav>
                <ul class="pager" style="margin: 5px 0 10px 0">
                    <li class="next" data-bind="css: {disabled: !nextPage()}">
                        <a href="#" data-bind="click: goToNextPage">Next <span
                                aria-hidden="true">&rarr;</span></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="row" style="margin-top: 10px">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th style="width: 15%">
                        <a href="#" data-bind="click: function() { changeSortKey('title'); }">
                            Title
                        </a>
                        <span data-bind="visible: sortKey() === 'title', css: {dropdown: sortAsc(), dropup: !sortAsc()}">
                            <span class="caret"></span>
                        </span>
                    </th>
                    <th style="width: 30%">
                        <a href="#" data-bind="click: function() { changeSortKey('description'); }">
                            Description
                        </a>
                        <span data-bind="visible: sortKey() === 'description', css: {dropdown: sortAsc(), dropup: !sortAsc()}">
                            <span class="caret"></span>
                        </span>
                    </th>
                    <th style="width: 15%">
                        <a href="#" data-bind="click: function() { changeSortKey('namespace'); }">
                            Namespace
                        </a>
                        <span data-bind="visible: sortKey() === 'namespace', css: {dropdown: sortAsc(), dropup: !sortAsc()}">
                            <span class="caret"></span>
                        </span>
                    </th>
                    <th style="width: 15%">
                        <a href="#" data-bind="click: function() { changeSortKey('hostCount'); }">
                            Hosts
                        </a>
                        <span data-bind="visible: sortKey() === 'hostCount', css: {dropdown: sortAsc(), dropup: !sortAsc()}">
                            <span class="caret"></span>
                        </span>
                    </th>
                    <th style="width: 10%">
                        <a href="#" data-bind="click: function() { changeSortKey('status'); }">
                            Status
                        </a>
                        <span data-bind="visible: sortKey() === 'status', css: {dropdown: sortAsc(), dropup: !sortAsc()}">
                            <span class="caret"></span>
                        </span>
                    </th>
                    <th style="width: 5%"></th>
                    <th style="width: 5%"></th>
                </tr>
                </thead>
                <tbody data-bind="foreach: sortedStacks">
                <tr>
                    <td data-bind="text: title, click: $root.goToDetailPage"></td>
                    <td data-bind="text: description, click: $root.goToDetailPage"></td>
                    <td data-bind="text: namespace, click: $root.goToDetailPage"></td>
                    <td data-bind="text: hostCount, click: $root.goToDetailPage"></td>
                    <td data-bind="click: $root.goToDetailPage">
                        <span class="label" data-bind="css: labelClass, text: status"></span>
                    </td>
                    <td>
                        <div class="btn-group btn-group-xs action-dropdown"
                             data-bind="css: {open: $root.openActionStackId === id}, attr: {id: id}">
                            <button type="button" class="btn btn-xs btn-info dropdown-toggle"
                                    data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" data-bind="foreach: availableActions">
                                <li>
                                    <!-- Do this function() dance so that `this` is set properly -->
                                    <a href="#"
                                       data-bind="click: function (action) { $parent.performAction(action) }, text: $data"></a>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td class="text-center">
                        <a href="#" data-bind="click: $data.delete">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
