{% extends 'stacks/stack-detail-base.html' %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        window.stackdio.commandId = {{ command_id }};
    </script>
{% endblock %}

{% block detail-content %}
<div class="col-sm-9 col-sm-pull-3">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h2>Detail</h2>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <p><strong>Status:</strong> <span class="label" data-bind="text: command().status(), css: command().labelClass()"></span></p>
            <p><strong>Host Target:</strong> <code data-bind="text: command().hostTarget()"></code></p>
            <p><strong>Command:</strong> <code data-bind="text: command().command()"></code></p>
        </div>

        <div class="col-md-4">
            <p><strong>Submitted:</strong> <span data-bind="text: command().submitTime().calendar()"></span></p>
            <p><strong>Started:</strong> <span data-bind="text: command().startTime().calendar()"></span></p>
            <p><strong>Finished:</strong> <span data-bind="text: command().finishTime().calendar()"></span></p>
        </div>

        <div class="col-md-4">
            <a class="btn btn-info" data-bind="click: function () { runAgain() }">Run Again</a>
            <a class="btn btn-warning" data-bind="attr: { href: command().downloadUrl() }">Download Output</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h2>Output</h2>
            </div>

            <div class="panel-group" id="command-output" role="tablist"
                 aria-multiselectable="true" data-bind="foreach: command().stdout()">
                <div class="panel panel-default stackdio-hidden-on-load">
                    <div class="panel-heading" role="tab" data-bind="attr: {id: host + '-header'}">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#command-output"
                               aria-expanded="true"
                               data-bind="text: host, attr: {href: '#' + host, 'aria-controls': host}">
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" role="tabpanel"
                         data-bind="attr: {id: host, 'aria-labelledby': host + '-header'}">
                        <div class="panel-body">
                            <pre class="panel-body pre-scrollable" data-bind="text: output"></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}