{% extends 'stacks/stack-detail-base.html' %}

{% block detail-content %}
    <div class="col-sm-9 col-sm-pull-3">
        {% include 'stackdio/stubs/pager.html' with object_type='labels' search=True %}

        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        {% include 'stackdio/stubs/table-sort-header.html' %}
                        <th style="width: 10%"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- ko foreach: sortedObjects -->
                    <tr class="stackdio-hidden-on-load">
                        <td data-bind="text: key"></td>
                        <td>
                            <input type="text" class="form-control"
                                   data-bind="value: value, valueUpdate: 'keyup'">
                        </td>
                        <td class="text-center">
                            <a href="#" data-bind="click: $data.delete">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                    <!-- /ko -->
                    <!-- ko foreach: newLabels -->
                    <tr class="stackdio-hidden-on-load">
                        <td data-bind="text: key"></td>
                        <td>
                            <input type="text" class="form-control"
                                   data-bind="value: value, valueUpdate: 'keyup'">
                        </td>
                        <td class="text-center">
                            <a href="#" data-bind="click: function (label) { $root.deleteNewLabel(label) }">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                    <!-- /ko -->
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <form data-bind="submit: function () { addNewLabel() }">
                    <div id="new-label-form" class="input-group">
                        <input type="text" class="form-control" placeholder="New Label"
                               data-bind="value: newLabelKey, valueUpdate: 'keyup'">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-success">Add</button>
                        </span>
                    </div>
                </form>
            </div>
            <div class="col-md-6 text-right">
                <button type="submit" class="btn btn-primary" data-bind="click: function () { saveLabels() }">Save</button>
            </div>
        </div>
    </div>
{% endblock %}