{% extends 'stackdio/page.html' %}

{% block title %}Stacks{% endblock %}
{% block stack-class %}active{% endblock %}

{% block page-content %}
    <div class="row">
        <div class="col-md-6">
            <p>
                Showing stacks
                <span data-bind="text: startNum"></span>-<span data-bind="text: endNum"></span>
                of <span data-bind="text: count"></span>.
            </p>
        </div>
        <div class="col-md-6">
            <a class="btn btn-success pull-right" href="{% url 'ui:stack-create' %}">New Stack</a>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-12">
            <nav>
                <ul class="pager" style="margin: 5px 0 10px 0">
                    <li class="previous" data-bind="css: {disabled: !previousPage()}">
                        <a href="#" data-bind="click: goToPreviousPage"><span
                                aria-hidden="true">&larr;</span> Previous</a>
                    </li>
                    <li class="next" data-bind="css: {disabled: !nextPage()}">
                        <a href="#" data-bind="click: goToNextPage">Next <span
                                aria-hidden="true">&rarr;</span></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th style="width: 15%">Title</th>
                    <th style="width: 30%">Description</th>
                    <th style="width: 15%">Namespace</th>
                    <th style="width: 15%">Number of Hosts</th>
                    <th style="width: 10%">Status</th>
                    <th style="width: 5%"></th>
                    <th style="width: 5%"></th>
                </tr>
                </thead>
                <tbody data-bind="foreach: stacks">
                <tr>
                    <td data-bind="text: title, click: $root.goToDetailPage"></td>
                    <td data-bind="text: description, click: $root.goToDetailPage"></td>
                    <td data-bind="text: namespace, click: $root.goToDetailPage"></td>
                    <td data-bind="text: hostCount, click: $root.goToDetailPage"></td>
                    <td data-bind="click: $root.goToDetailPage">
                        <span class="label" data-bind="css: labelClass, text: status"></span>
                    </td>
                    <td>
                        <div class="btn-group btn-group-xs action-dropdown"
                             data-bind="css: {open: $root.openActionStackId === id}, attr: {id: id}">
                            <button type="button" class="btn btn-xs btn-info dropdown-toggle"
                                    data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" data-bind="foreach: availableActions">
                                <li>
                                    <!-- Do this function() dance so that `this` is set properly -->
                                    <a href="#"
                                       data-bind="click: function (action) { $parent.performAction(action) }, text: $data"></a>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td class="text-center">
                        <a href="#" data-bind="click: $data.delete">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
