{% extends 'stacks/stack-detail-base.html' %}


{% block detail-content %}
<div class="col-sm-6 col-sm-pull-3">
    <div class="row">
        <div class="col-md-12">
            <form data-bind="submit: function() { stack.save(); }">
                <div id="blueprint" class="form-group">
                    <label>Blueprint</label>
                    <p class="form-control-static"><a data-bind="text: blueprintTitle, attr: {href: blueprintUrl}"></a></p>
                </div>
                <div id="title" class="form-group">
                    <label for="stackTitle">Title</label>
                    <input type="text" class="form-control" id="stackTitle"
                           data-bind="value: stack.title, valueUpdate: 'keyup'">
                </div>
                <div id="description" class="form-group">
                    <label for="stackDescription">Description</label>
                    <input type="text" class="form-control" id="stackDescription"
                           data-bind="value: stack.description, valueUpdate: 'keyup'">
                </div>
                <div id="namespace" class="form-group">
                    <label>Namespace</label>
                    <p class="form-control-static" data-bind="text: stack.namespace"></p>
                </div>
                <div id="activity" class="form-group">
                    <label>Activity</label>
                    <p class="form-control-static"><span class="label" data-bind="css: stack.labelClass, text: stack.activity"></span></p>
                </div>
                <div id="health" class="form-group">
                    <label>Health</label>
                    <p class="form-control-static"><span class="label" data-bind="css: stack.healthLabelClass, text: stack.health"></span></p>
                </div>
                <div id="created" class="form-group">
                    <label>Launched</label>
                    <p class="form-control-static" data-bind="text: stack.created().calendar()"></p>
                </div>
                <div id="create_users">
                    <div class="checkbox">
                        <label class="checkbox-custom" data-initialize="checkbox">
                            <input class="sr-only" type="checkbox"
                                   data-bind="checked: stack.createUsers">
                            <span class="checkbox-label">Create Users</span>
                        </label>
                    </div>
                </div>
                <div class="form-group" style="margin-top: 15px">
                    {% if has_update %}
                    <button type="submit" class="btn btn-primary">Save</button>

                    <div class="btn-group action-dropdown">
                        <button type="button" class="btn btn-info dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                            Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" data-bind="foreach: stack.availableActions">
                            <li>
                                <!-- Do this function() dance so that `this` is set properly -->
                                <a href="#"
                                   data-bind="click: function (action) { $root.stack.performAction(action) }, text: $data"></a>
                            </li>
                        </ul>
                    </div>
                    {% endif %}

                    {% if has_delete %}
                    <button class="btn btn-danger" data-bind="click: function () { stack.delete() }">
                        Delete
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>

<div class="col-sm-3 col-sm-pull-3">
    <div class="list-group" data-bind="foreach: stack.history" style="height: 500px; overflow-y: scroll">
        <a class="list-group-item history-entry">
            <h5><strong data-bind="text: message"></strong></h5>
            <p data-bind="text: timestamp.calendar()"></p>
        </a>
    </div>
</div>
{% endblock %}