{% extends 'stackdio/page.html' %}

{% block title %}Stack Permissions{% endblock %}

{% block page-content %}
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover table-striped table-condensed" data-bind="style: { width: (300 + 100 * availableUserPermissions().length) + 'px'}">
            <thead>
                <tr>
                    <th style="width: 30%">Users</th>
                    <!-- ko foreach: availableUserPermissions -->
                    <th style="width: 10%" class="text-center" data-bind="text: $data.capitalize()"></th>
                    <!-- /ko -->
                </tr>
            </thead>
            <tbody data-bind="foreach: userPermissions">
                <tr aria-hidden="true">
                    <td data-bind="text: user"></td>
                    <!-- ko foreach: $root.availableUserPermissions -->
                    <td class="text-center">
                        <span class="glyphicon"
                              data-bind="css: {'glyphicon-ok': $parent.permissions[$data], 'glyphicon-remove': !$parent.permissions[$data]}"></span>
                    </td>
                    <!-- /ko -->
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <div id="add-user">
                            <input class="typeahead form-control" type="text" placeholder="Search for users...">
                        </div>
                    </td>
                    <!-- ko foreach: availableUserPermissions -->
                    <td class="text-center"><input type="checkbox"></td>
                    <!-- /ko -->
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<div class="row" style="margin-top: 20px">
    <div class="col-md-12">
        <table class="table table-hover table-striped table-condensed" data-bind="style: { width: (300 + 100 * availableUserPermissions().length) + 'px'}">
            <thead>
                <tr>
                    <th style="width: 30%">Groups</th>
                    <!-- ko foreach: availableGroupPermissions -->
                    <th style="width: 10%" class="text-center" data-bind="text: $data.capitalize()"></th>
                    <!-- /ko -->
                </tr>
            </thead>
            <tbody data-bind="foreach: groupPermissions">
                <tr>
                    <td data-bind="text: group"></td>
                    <!-- ko foreach: $root.availableGroupPermissions -->
                    <td class="text-center">
                        <span class="glyphicon"
                              data-bind="css: {'glyphicon-ok': $parent.permissions[$data], 'glyphicon-remove': !$parent.permissions[$data]}"></span>
                    </td>
                    <!-- /ko -->
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <div id="add-group">
                            <input class="typeahead form-control" type="text" placeholder="Search for groups...">
                        </div>
                    </td>
                    <!-- ko foreach: availableGroupPermissions -->
                    <td class="text-center"><input type="checkbox"></td>
                    <!-- /ko -->
                </tr>
            </tfoot>
        </table>
    </div>
</div>
{% endblock %}