{% extends 'stackdio/page.html' %}

{% block title %}Stack Detail{% endblock %}
{% block stack-class %}active{% endblock %}

{# Inject the stack id into the window so we can access it in our javascript VM #}
{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        if (typeof window.stackdio == 'undefined') window.stackdio = {};
        window.stackdio.stackId = {{ stack.id }};
        window.stackdio.stackTitle = '{{ stack.title }}';
        window.stackdio.blueprintId = {{ stack.blueprint.id }};
        window.stackdio.blueprintTitle = '{{ stack.blueprint.title }}  --  {{ stack.blueprint.description }}';
        {% if has_update != None %}
        window.stackdio.hasUpdatePerm = {{ has_update | lower }};
        {% endif %}
    </script>
{% endblock %}


{% block page-content %}
    <div class="row">
        <div class="col-sm-3 col-sm-push-9">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation"{% if page_id == 'detail' %} class="active"{% endif %}>
                    <a href="{% url 'ui:stack-detail' pk=stack.id %}">Detail</a>
                </li>
                <li role="presentation"{% if page_id == 'properties' %} class="active"{% endif %}>
                    <a href="{% url 'ui:stack-properties' pk=stack.id %}">Properties</a>
                </li>
                <li role="presentation"{% if page_id == 'labels' %} class="active"{% endif %}>
                    <a href="{% url 'ui:stack-labels' pk=stack.id %}">Labels</a>
                </li>
                <li role="presentation"{% if page_id == 'hosts' %} class="active"{% endif %}>
                    <a href="{% url 'ui:stack-hosts' pk=stack.id %}">Hosts</a>
                </li>
                {% if user.settings.advanced_view %}
                <li role="presentation"{% if page_id == 'volumes' %} class="active"{% endif %}>
                    <a href="{% url 'ui:stack-volumes' pk=stack.id %}">Volumes</a>
                </li>
                <li role="presentation"{% if page_id == 'commands' %} class="active"{% endif %}>
                    <a href="{% url 'ui:stack-commands' pk=stack.id %}">Commands</a>
                </li>
                <li role="presentation"{% if page_id == 'access-rules' %} class="active"{% endif %}>
                    <a href="{% url 'ui:stack-access-rules' pk=stack.id %}">Access Rules</a>
                </li>
                <li role="presentation"{% if page_id == 'formula-versions' %} class="active"{% endif %}>
                    <a href="{% url 'ui:stack-formula-versions' pk=stack.id %}">Formula Versions</a>
                </li>
                {% endif %}
                {% if has_admin %}
                <li role="presentation"{% if page_id == 'permissions' %} class="active"{% endif %}>
                    <a href="{% url 'ui:stack-object-permissions' pk=stack.id %}">Permissions</a>
                </li>
                {% endif %}
                <li role="presentation"{% if page_id == 'logs' %} class="active"{% endif %}>
                    <a href="{% url 'ui:stack-logs' pk=stack.id %}">Logs</a>
                </li>
            </ul>
        </div>

        {% block detail-content %}{% endblock %}
    </div>
{% endblock %}