{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>stackd.io</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="stackd.io | modern cloud deployment frameworkx">
    <meta name="author" content="Steve Brownlee">
    <meta name="copyright" content="">

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/stackdio.css' %}" rel="stylesheet">
  </head>

  <body>

    {% if messages %}
      <div class="container notification-center">
          <div class="row">
            <div class="messages span6 offset3">
              {% for message in messages %}
                <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
                  <a class="close" data-dismiss="alert" href="#">&times;</a>
                  {{ message }}
                </div>
              {% endfor %}
            </div>
          </div>
      </div>
    {% endif %}

    <div class="container">
        <div class="row">
            <div class="span9" style="text-align: center; float: none; margin: 0 auto;">
                <p id="slider"><img src="{% static 'img/clouds02.jpg' %}"></p>
                <div class="hero-unit serene">
                    <h1><img src="{% static 'img/stackd_32x32.png' %}">stackd.io</h1>
                    <p>a modern cloud provisioning and deployment application</p>
                </div>
            </div>

            <div class="span6" style="float: none; margin: 0 auto;">
                <form class="form-horizontal" action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                    <div class="control-group">
                        <label class="control-label" for="inputUsername">Username</label>
                        <div class="controls">
                            <input id="inputUsername" type="text" name="username" placeholder="Username">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputPassword">Password</label>
                        <div class="controls">
                            <input type="password" name="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn">Sign in</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- <hr> -->

        <div class="container">
            <footer>
                <p class="muted text-center">
                    <span></span>
                </p>
            </footer>
        </div>
    </div>

    <script src="{% static 'js/lib/jquery.js' %}"></script>
    <script src="{% static 'js/lib/bootstrap.js' %}"></script>
    
</body>
</html>

