{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>stackd.io</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{% static 'css/theme/jquery-ui-1.10.3.custom.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-select.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/stackdio.css' %}" rel="stylesheet">
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">stackd.io [ <small class="text-warning">if you got a problem, yo, I'll solve it</small class="muted"> ]</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">home</a></li>
              <li><a href="http://github.com/stackdio/stackdio" target="_blank">source</a></li>
              <li><a href="http://twitter.com/stackdio" target="_blank">@stackdio</a></li>
            </ul>
              <button class="btn btn-inverse btn-small pull-right" data-bind="click: function () { location.href='/logout'; } ">logout</button>
          </div>
        </div>
      </div>
    </div>

    <!-- 
        ======================================================================
        S I D E B A R
        ======================================================================
     -->
    <div id="sidebar">
        <ul class="nav nav-list" data-bind="foreach: sections">
            <li id="dashboard-href" class="navlink" data-bind="css: { active: $data == $root.currentSection() }, click: $root.gotoSection">
              <a href="#">
                <i class="icon-dashboard"></i>
                <span data-bind="text: $data"></span>
              </a>
            </li>
        </ul>
    </div>


    <!-- 
        ======================================================================
        M E S S A G E S
        ======================================================================
     -->
    <div class="view">
        <div id="alert-error" class="alert hide alert-error">
            <button type="button" class="close" data-bind="click: closeError">&times;</button>
            <strong>Error!</strong> Please try that again.
        </div>

        <div id="alert-success" class="alert hide alert-success">
            <button type="button" class="close" data-bind="click: closeSuccess">&times;</button>
            <strong>Success!</strong> 
        </div>

        <div id="alert-no-profiles" class="alert hide alert-warning">
            <button type="button" class="close" data-bind="click: function () { $('#alert-no-profiles').hide(); }">&times;</button>
            <strong>Warning!</strong> You do not have any profiles created yet. Please create one now.
        </div>

        <div id="alert-no-accounts" class="alert hide alert-warning">
            <button type="button" class="close" data-bind="click: function () { $('#alert-no-accounts').hide(); }">&times;</button>
            <strong>Warning!</strong> You do not have any accounts created yet. Please create one now.
        </div>
    </div>

        <!-- 
            ======================================================================
            S T A C K   L I S T
            ======================================================================
         -->
    <div id="stacks-binding-target" data-bind='visible: $root.currentSection() === "Stacks"' class="hide">
        <div class="view">

            <div class="btn-group pull-right">
                <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                    New Stack <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" data-bind="foreach: stores.Accounts">
                    <li>
                        <a href="#" data-bind="text: title, click: $root.stack.showStackForm"></a>
                    </li>
                </ul>
            </div>

            <table id="stacks" class="table table-striped data-grid">
                <thead>
                    <tr>
                        <th style="width:20px">#</th>
                        <th style="width:20%">Title</th>
                        <th style="width:50%">Description</th>
                        <th style="width:20%">Status History</th>
                        <th style="width:50px"></th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: stores.Stacks">
                    <tr>
                        <td data-bind="text: $data.id"></td>
                        <td><a href="#" data-bind="text: $data.title, click: $root.stack.showStackDetails"></a></td>
                        <td data-bind="text: $data.description"></td>
                        <td><a href='#' data-bind="bootstrapPopover : {content : $root.stack.popoverBuilder($data) }, text: 'View (' + $data.history.length + ') messages'"></a></td>
                        <td>
                            <div class="btn-group ">
                                <a class="btn-small btn-info dropdown-toggle" data-toggle="dropdown" href="#">
                                    Action <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" data-bind="foreach: $root.stack.stackActions">
                                    <li>
                                        <a href="#" data-bind="text:$data, click: function (data, event) { $root.stack.doStackAction(data, event, $parent) }"></a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>     
                </tbody>
            </table>
        </div>


        <!-- 
            ======================================================================
            N E W   S T A C K   F O R M
            ======================================================================
         -->
        <div id="stack-form-container" title="Stack Details">
            <div class="modal-body" style="min-height: 330px;">
                <div class="controls controls-row">
                    <input class="span5" id="stack_title" type="text" placeholder="Stack title">
                    <input class="span5" id="stack_purpose" type="text" placeholder="Purpose of stack">
                </div>

                <div>
                    <legend class="lead">Stack Hosts
                        <div class="btn-group pull-right">
                            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                                Add Host <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" data-bind="foreach: stores.Profiles">
                                <li>
                                    <a href="#" data-bind="text: title, click: $root.stack.showHostForm"></a>
                                </li>
                            </ul>
                        </div>
                    </legend>
                    <table id="stack_hosts" class="data-grid stretch-full">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Roles</th>
                                <th>Count</th>
                                <th>Size</th>
                                <th>Host Pattern</th>
                                <th>Security Groups</th>
                                <th style="width:50px;"></th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: stores.NewHosts">
                            <tr>
                                <td data-bind="text: id"></td>
                                <td data-bind="html: flat_roles"></td>
                                <td data-bind="text: host_count"></td>
                                <td data-bind="text: size.title"></td>
                                <td data-bind="text: host_pattern"></td>
                                <td data-bind="text: host_security_groups"></td>
                                <td><button type="button" class="btn-small btn-danger iconic-trash-stroke" data-bind="click: $root.stack.removeHost"></button></td>
                            </tr>     
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" data-bind="click: $root.stack.launchStack">Launch Stack</button>
                <button class="btn btn-info" data-bind="click: $root.stack.saveStack">Save Stack</button>
                <button class="btn" data-bind="click: $root.stack.closeStackForm">Close</button>
            </div>
        </div>


        <!-- 
            ======================================================================
            L A U N C H E D   H O S T   L I S T
            ======================================================================
         -->
        <div id="stack-details-container" title="Stack Hosts">
             <div class="modal-body">
                <table id="stack-details" class="data-grid">
                    <thead>
                        <tr>
                            <th style="width:25px">#</th>
                            <th style="width:20%">State</th>
                            <th style="width:40%">Host name</th>
                            <th style="width:30%">Created</th>
                            <th style="width:50px"></th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: stores.StackHosts">
                        <tr>
                            <td>
                                <a href='#' data-bind='click: $root.stack.showHostMetadata, text: id'></a>
                            </td>
                            <td data-bind="text: state"></td>
                            <td>
                                <a href='#' 
                                   target="_blank" 
                                   data-bind="text: hostname, attr: { href: 'http://'+fqdn, title: hostname }"></a>
                            </td>
                            <td data-bind="text: $root.moment(created).calendar()"></td>
                            <td>
                                <select id="host-action"
                                        data-width="125px"
                                        header="Perform action"
                                        title="Perform action"
                                        class="dropup" 
                                        data-container="body"
                                        data-bind="options: $root.stack.stackHostActions, 
                                                   optionsValue: $data,
                                                   optionsText: $data,
                                                   click: function (data, event) { $root.stack.doStackHostAction(data, event, $parent) }"
                                ></select>
    <!-- 
                                <div class="btn-group">
                                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                        Action <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu" data-bind="foreach: $root.stack.stackHostActions">
                                        <li>
                                            <a href="#" 
                                               data-bind="text:$data, 
                                                          click: function (data, event) { 
                                                             $root.stack.doStackHostAction(data, event, $parent) 
                                                           }"></a>
                                        </li>
                                    </ul>
                                </div>
     -->
                            </td>
                        </tr>     
                    </tbody>
                </table>
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" data-bind="click: $root.stack.closeStackHosts">Close</button>
            </div>
        </div>

        <!-- 
            ======================================================================
            H O S T   M E T A D A T A
            ======================================================================
         -->
        <div id="host-metadata-container" title="Host Metadata">
             <div class="small-modal-body">
                <table id="host-metadata" class="data-grid">
                    <thead>
                        <tr>
                            <th style="width:50%">Metadata</th>
                            <th style="width:50%">Value</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: stores.HostMetadata">
                        <tr>
                            <td data-bind="text: key"></td>
                            <td data-bind="text: value"></td>
                        </tr>     
                    </tbody>
                </table>
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" data-bind="click: $root.stack.closeHostMetadata">Close</button>
            </div>
        </div>

            

        <!-- 
            ======================================================================
            N E W   H O S T   F O R M
            ======================================================================
         -->
        <div id="host-form-container" title="Host Details">
           <form id="host-form" class="form-horizontal">
                <div class="modal-body">
                    <div class="control-group">
                        <label class="control-label" for="host_count">Count</label>
                        <div class="controls">
                            <input type="text" id="host_count" class="input-mini" placeholder="">
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="host_instance_size">Instance size</label>
                        <div class="controls">
                            <select id="host_instance_size" 
                                    data-bind="options: stores.InstanceSizes, 
                                               optionsValue: 'id',
                                               optionsText: 'title'"
                                    data-size="8"
                                    data-container="body"
                                    data-header="Select a host size"
                                    class="input-xlarge "></select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="host_security_groups">Security groups</label>
                        <div class="controls">
                            <input type="text" id="host_security_groups" class="input-xlarge" placeholder="Comma separated list">
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="host_hostname">Host pattern</label>
                        <div class="controls">
                            <input type="text" id="host_hostname" class="input-xlarge" placeholder="{name}.yourdomain.com">
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="host_roles">SLS</label>
                        <div class="controls">
                            <select id="host_roles" 
                                    multiple
                                    data-selected-text-format="count"
                                    data-bind="options: stores.Roles, 
                                    optionsValue: 'id', 
                                    optionsText: 'title'" 
                                    class="input-xlarge"></select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="host_volumes">
                            Volumes
                        </label>
                        <div class="controls">
                            <table id="host_volumes" class="data-grid">
                                <thead>
                                    <tr>
                                        <th>Snapshot</th>
                                        <th>Mount point</th>
                                        <th style="width:50px;"></th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: stores.HostVolumes">
                                    <tr>
                                        <td data-bind="text: snapshot.title"></td>
                                        <td data-bind="text: mount_point"></td>
                                        <td><button type="button" class="btn-small btn-danger iconic-trash-stroke" data-bind="click: $root.volume.removeHostVolume"></button></td>
                                    </tr>     
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="control-group">
                            <label class="control-label" for="spot_instance"></label>
                            <div class="controls">
                                <input type="checkbox" id="spot_instance"> Request spot instances
                            </div>
                        </div>

                        <div class="control-group" data-bind="visible: stack.isSpotInstance">
                            <label class="control-label" for="spot_instance_price"></label>
                            <div class="controls">
                                <input type="text" id="spot_instance_price" class="input-medium" placeholder="Bid price for instances">
                            </div>
                        </div>
                    </div>
                </div>  
        
                <div class="modal-footer">
                    <button class="btn btn-info" data-bind="click: $root.volume.showVolumeForm">Add Volume</button>
                    <button class="btn btn-primary" data-bind="click: $root.stack.addHost">Save Host</button>
                    <button class="btn" data-bind="click: $root.stack.closeHostForm">Close</button>
                </div>
            </form>
        </div>

        <!-- 
            ======================================================================
            N E W   V O L U M E   F O R M
            ======================================================================
         -->
        <div id="volume-form-container" title="Volume Details">
            <form id="host-volume-form" class="form-horizontal">
            <div class="modal-body">
                <div class="control-group">
                    <label class="control-label" for="volume_snapshot">Snapshot</label>
                    <div class="controls">
                        <select id="volume_snapshot" data-bind="options: stores.Snapshots, optionsValue: 'id', optionsText: 'title'"></select>
                    </div>
                </div>


                <div class="control-group">
                    <label class="control-label" for="volume_device">Device</label>
                    <div class="controls">
                        <input id="volume_device" type="text" class="input-block-level" placeholder="Device name">
                    </div>
                </div>


                <div class="control-group">
                    <label class="control-label" for="volume_mount_point">Mount point</label>
                    <div class="controls">
                        <input type="text" id="volume_mount_point" class="input-mini" placeholder="/mnt/x">
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" data-bind="click: $root.volume.addHostVolume">Save Volume</button>
                <button class="btn" data-bind="click: $root.volume.closeVolumeForm">Close</button>
            </div>
            </form>
        </div>

    </div>



    <!-- 
        ======================================================================
        S N A P S H O T   L I S T
        ======================================================================
     -->
    <div id="snapshots-binding-target" class="hide" data-bind='visible: $root.currentSection() === "Snapshots"'>
        <div class="view">
            <div class="btn-group pull-right">
                <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                    New Snapshot <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" data-bind="foreach: stores.Accounts">
                    <li>
                        <a href="#" data-bind="text: title, click: $root.snapshot.showSnapshotForm"></a>
                    </li>
                </ul>
            </div>

            <table id="snapshots" class="table table-striped data-grid">
                <thead>
                    <tr>
                        <th style="width:20px">#</th>
                        <th style="width:20%">Title</th>
                        <th style="width:25%">Description</th>
                        <th style="width:10%">ID</th>
                        <th style="width:10%">Size (GB)</th>
                        <th style="width:20%">Account</th>
                        <th style="width:5%"></th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: stores.Snapshots">
                    <tr>
                        <td data-bind="text: id"></td>
                        <td data-bind="text: title"></td>
                        <td data-bind="text: description"></td>
                        <td data-bind="text: snapshot_id"></td>
                        <td data-bind="text: size_in_gb"></td>
                        <td data-bind="text: account.title"></td>
                        <td><button type="button" class="btn-small btn-danger iconic-trash-stroke" data-bind="click: $root.snapshot.removeSnapshot"></button></td>
                    </tr>     
                </tbody>
            </table>
        </div>

        <!-- 
            ======================================================================
            S N A P S H O T   F O R M
            ======================================================================
         -->
        <div id="snapshot-form-container" title="Snapshot Details" class="stackd-form form-small">
            <form id="snapshot-form">
            <div class="modal-body">
                <div class="span2">Title</div>
                <div class="span4 no-margin">
                    <input id="snapshot_title" type="text" class="input-block-level" placeholder="">
                </div>

                <div class="span2">Description</div>
                <div class="span4 no-margin">
                    <input id="snapshot_description" type="text" class="input-block-level" placeholder="">
                </div>

                <div class="span2">Snapshot ID</div>
                <div class="span4 no-margin">
                    <input id="snapshot_id" type="text" class="input-block-level" placeholder="EC2 snapshot ID">
                </div>

                <div class="span2">Size</div>
                <div class="span4 no-margin">
                    <input id="snapshot_size" type="text" class="input-block-level" placeholder="in GB">
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn" data-bind="click: $root.snapshot.closeSnapshotForm">Close</button>
                <button class="btn btn-primary" data-bind="click: $root.snapshot.addSnapshot">Save</button>
            </div>
            </form>
        </div>
    </div>



    <!-- 
        ======================================================================
        A C C O U N T   L I S T
        ======================================================================
     -->
    <div id="accounts-binding-target" class="hide" data-bind='visible: $root.currentSection() == "Accounts"'>
        <div class="view">
            <div class="btn-group pull-right">
                <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                    New Account
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" data-bind="foreach: stores.ProviderTypes">
                    <li>
                        <a href="#" data-bind="text: title, click: $root.account.showAccountForm"></a>
                    </li>
                </ul>
            </div>

            <table id="accounts" class="table table-striped data-grid">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th style="width:5%"></th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: stores.Accounts">
                    <tr>
                        <td data-bind="text: id"></td>
                        <td data-bind="text: title"></td>
                        <td data-bind="text: description"></td>
                        <td>
                            <button type="button" class="btn-small btn-danger iconic-trash-stroke" data-bind="click: $root.account.removeAccount"></button>
                        </td>
                    </tr>     
                </tbody>
            </table>
        </div>

        <!-- 
            ======================================================================
            A C C O U N T   F O R M
            ======================================================================
         -->
        <div id="accounts-form-container" title="New Provider Account Details" class="stackd-form form-small">
            <form id="account-form">
                <div class="modal-body">
                    <div class="span2">Title</div>
                    <div class="span4 no-margin">
                        <input id="title" type="text" class="input-block-level" placeholder="">
                    </div>

                    <div class="span2">Description</div>
                    <div class="span4 no-margin">
                        <input id="description" type="text" class="input-block-level" placeholder="">
                    </div>

                    <div class="span2">AWS Access Key</div>
                    <div class="span4 no-margin">
                        <input id="access_key_id" type="text" class="input-block-level" placeholder="">
                    </div>

                    <div class="span2">AWS Secret Key</div>
                    <div class="span4 no-margin">
                        <input id="secret_access_key" type="text" class="input-block-level" placeholder="">
                    </div>

                    <div class="span2">AWS Keypair Name</div>
                    <div class="span4 no-margin">
                        <input id="keypair" type="text" class="input-block-level" placeholder="">
                    </div>

                    <div class="span2">Security Groups</div>
                    <div class="span4 no-margin">
                        <input id="security_groups" type="text" class="input-block-level" placeholder="comma separated list">
                    </div>

                    <div class="span2">Route 53 Domain</div>
                    <div class="span4 no-margin">
                        <input id="route53_domain" type="text" class="input-block-level" placeholder="e.g. dev.synthesyscloud.com">
                    </div>

                    <div class="span2">Private Key File</div>
                    <div class="span4 no-margin">
                        <input id="private_key_file" type="file" class="input-block-level" placeholder="">
                    </div>

                </div>

                <div class="modal-footer">
                    <button class="btn" data-bind="click: $root.account.closeAccountForm">Close</button>
                    <button class="btn btn-primary" data-bind="click: $root.account.addAccount">Save</button>
                </div>
            </form>
        </div>
    </div>

    <!-- 
        ======================================================================
        P R O F I L E   L I S T
        ======================================================================
     -->
    <div id="profile-binding-target" class="hide" data-bind='visible: currentSection() === "Profiles"'>
        <div class="view">
            <div class="btn-group pull-right">
                <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                    New Profile
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" data-bind="foreach: stores.Accounts">
                    <li>
                        <a href="#" data-bind="text: title, click: $root.profile.showProfileForm"></a>
                    </li>
                </ul>
            </div>

            <table id="profiles" class="table table-striped data-grid">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>ID</th>
                        <th style="width:5%"></th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: stores.Profiles">
                    <tr>
                        <td data-bind="text: id"></td>
                        <td data-bind="text: title"></td>
                        <td data-bind="text: description"></td>
                        <td data-bind="text: image_id"></td>
                        <td><button type="button" class="btn-small btn-danger iconic-trash-stroke" data-bind="click: $root.profile.deleteProfile"></button></td>
                    </tr>     
                </tbody>
            </table>
        </div>

        <!-- 
            ======================================================================
            P R O F I L E   F O R M
            ======================================================================
         -->
        <div id="profile-form-container" title="New Profile Details" class="stackd-form form-small">
            <form id="snapshot-form">
            <div class="modal-body">
                <div class="span2">Title</div>
                <div class="span4 no-margin">
                    <input id="profile_title" type="text" class="input-block-level" placeholder="">
                </div>

                <div class="span2">Description</div>
                <div class="span4 no-margin">
                    <input id="profile_description" type="text" class="input-block-level" placeholder="">
                </div>

                <div class="span2">AMI</div>
                <div class="span4 no-margin">
                    <input id="image_id" type="text" class="input-block-level" placeholder="">
                </div>

                <div class="span2">Default Instance Size</div>
                <div class="span4 no-margin">
                    <select id="default_instance_size" 
                        data-bind="options: stores.InstanceSizes, optionsText: 'title', optionsValue: 'id', optionsCaption: 'Choose...'" 
                        data-size="8"
                        data-container="body"
                        class="stretch-full"></select>
                </div>

                <div class="span2">SSH User</div>
                <div class="span4 no-margin">
                    <input id="ssh_user" type="text" class="input-block-level" placeholder="">
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn" data-bind="click: $root.profile.closeProfileForm">Close</button>
                <button class="btn btn-primary" data-bind="click: $root.profile.addProfile">Save</button>
            </div>
            </form>
        </div>
    </div>

    <script data-main="{% static 'js/app' %}" src="{% static 'js/require.js' %}"></script>

</body>
</html>
