<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <title>stackd.io</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>
        <link href="/static/stackdio/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/stackdio/bower_components/bootstrap-select/bootstrap-select.css" rel="stylesheet">
        <link href="/static/css/stackdio.css" rel="stylesheet">
    </head>

    <body class="bootstrap-admin-with-small-navbar">
        <div id="navigation"></div>


        <div id="success" class="alert alert-success alert-dismissable hide view">
            <strong>Success!</strong>
            <div id="success-content"></div>
        </div>
        
        <div id="error" class="alert alert-danger alert-dismissable hide view">
            <strong>Error!</strong>
            <div id="error-content"></div>
        </div>

        <div id="welcome"></div>

        <div id="user-profile"></div>
        <div id="user-password"></div>

        <div id="account-list"></div>
        <div id="account-detail"></div>
        <div id="account-securitygroup"></div>
        
        <div id="profile-list"></div>
        <div id="profile-detail"></div>

        <div id="blueprint-list"></div>
        <div id="blueprint-detail"></div>
        <div id="host-detail"></div>
        <div id="accessrule-detail"></div>
        <div id="volume-detail"></div>

        <div id="formula-list"></div>
        <div id="formula-detail"></div>

        <div id="stack-list"></div>
        <div id="stack-detail"></div>

        <div id="snapshot-list"></div>
        <div id="snapshot-detail"></div>



    </body>

    <script>window.stackdio = {}; window.stackdio.user = {}; window.stackdio.user.username = "{{ user.username }}"; window.stackdio.user.first_name = "{{ user.first_name }}"; window.stackdio.user.last_name = "{{ user.last_name }}"; window.stackdio.user.admin = "{{ user.is_superuser }}";</script>
    <script data-main="/static/stackdio/application" src="/static/stackdio/bower_components/requirejs/require.js"></script>

</html>
