{% extends 'stackdio/page.html' %}

{% block title %}Cloud Accounts{% endblock %}
{% block account-class %}active{% endblock %}

{% block page-content %}
    <div class="row">
        <div class="col-md-6">
            <h2 style="margin-top: 0">Cloud Accounts</h2>
            <p>Manage all of your cloud accounts here.</p>
        </div>
        <div class="col-md-6 text-right">
            {% if has_admin %}
            <!-- Only show the button if the user has permission to see it-->
            <a class="btn btn-warning" href="{% url 'ui:cloud-account-model-permissions' %}">Permissions</a>
            {% endif %}
            {% if has_create %}
            <a class="btn btn-success" href="{% url 'ui:cloud-account-create' %}">New Cloud Account</a>
            {% endif %}
        </div>
    </div>

    {% include 'stackdio/stubs/pager.html' with object_type='cloud accounts' search=True %}

    <div class="row" style="margin-top: 15px">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <!-- ko foreach: sortableFields -->
                    <th data-bind="style: {width: width}">
                        <a href="#" data-bind="text: displayName, click: function (field) { $root.changeSortKey(field) }"></a>
                        <span data-bind="visible: $root.sortKey() === name, css: {dropdown: $root.sortAsc(), dropup: !$root.sortAsc()}">
                            <span class="caret"></span>
                        </span>
                    </th>
                    <!-- /ko -->
                    <th style="width: 10%"></th>
                </tr>
                </thead>
                <tbody data-bind="foreach: sortedObjects">
                <tr class="stackdio-hidden-on-load">
                    <td data-bind="text: title, click: function (account) { $root.goToDetailPage(account) }"></td>
                    <td data-bind="text: description, click: function (account) { $root.goToDetailPage(account) }"></td>
                    <td data-bind="text: vpcId, click: function (account) { $root.goToDetailPage(account) }">
                    <td data-bind="click: function (account) { $root.goToDetailPage(account) }">
                        <i class="fa fa-lg fa-check text-success" data-bind="visible: createSecurityGroups"></i>
                        <i class="fa fa-lg fa-times text-danger" data-bind="visible: !createSecurityGroups()"></i>
                    </td>
                    <td class="text-center">
                        <a href="#" data-bind="click: $data.delete, if: !$root.permissionsMap[$data.id] || $root.permissionsMap[$data.id].delete">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
