{% extends 'stackdio/page.html' %}
{% load staticfiles %}

{% block title %}Create Cloud Image{% endblock %}
{% block image-class %}active{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'stackdio/lib/bower_components/ladda/dist/ladda-themeless.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stackdio/lib/bower_components/select2/dist/css/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stackdio/lib/bower_components/select2-bootstrap-theme/dist/select2-bootstrap.min.css' %}">
{% endblock %}

{% block page-content %}
    <form data-bind="submit: createCloudImage">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group" id="account">
                    <label for="imageAccount">Account</label>
                    <select id="imageAccount" style="width: 100%" class="stackdio-hidden-on-load"></select>
                </div>

                <div class="form-group" id="title">
                    <label for="imageTitle">Title</label>
                    <input type="text" class="form-control" id="imageTitle"
                           data-bind="value: title, valueUpdate: 'keyup'">
                </div>

                <div class="form-group" id="description">
                    <label for="imageDescription">Description</label>
                    <input type="text" class="form-control" id="imageDescription"
                           data-bind="value: description, valueUpdate: 'keyup'">
                </div>

                <button type="submit" id="create-button" data-style="slide-left"
                        data-bind="enable: accountId() && defaultInstanceSize()"
                        class="btn btn-success ladda-button" style="margin-top: 10px">
                    <span class="ladda-label">Create</span>
                </button>
            </div>
            <div class="col-sm-6">
                <div id="image_id" class="form-group">
                    <label for="imageId">Image ID</label>
                    <input type="text" class="form-control" id="imageId"
                           data-bind="value: imageId, valueUpdate: 'keyup'">
                </div>

                <div class="form-group" id="default_instance_size">
                    <label for="imageDefaultInstanceSize">Default Instance Size</label>
                    <select id="imageDefaultInstanceSize" style="width: 100%" class="stackdio-hidden-on-load"></select>
                </div>

                <div id="ssh_user" class="form-group">
                    <label for="imageSshUser">SSH User</label>
                    <input type="text" class="form-control" id="imageSshUser"
                           data-bind="value: sshUser, valueUpdate: 'keyup'">
                </div>
            </div>
        </div>
    </form>
{% endblock %}