.title {
    font-size: 1.5em;
    color: #606060;
    padding: 10px 15px 0 15px;
    float:left;
}

img.logo {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    float:left;
}

/*
    ===================================================================================
    I C O N S
    ===================================================================================
*/
.activate-icon {background: transparent url(/img/icons/activate.png) 0 0 no-repeat; }
.add-icon {background: transparent url(/img/icons/add.png) 0 0 no-repeat; }
.annotate-icon {background: transparent url(/img/icons/annotate.png) 0 0 no-repeat; }
.annotated-icon {background: transparent url(/img/icons/annotated.png) 0 0 no-repeat; }
.cancel-icon {background: transparent url(/img/icons/cancel.png) 0 0 no-repeat; }
.chart-icon {background: transparent url(/img/icons/chart.png) 0 0 no-repeat; }
.create-icon {background: transparent url(/img/icons/create.png) 0 0 no-repeat; }
.deactivate-icon {background: transparent url(/img/icons/deactivate.png) 0 0 no-repeat; }
.delete-icon {background: transparent url(/img/icons/delete.png) 0 0 no-repeat; }
.details-icon {background: transparent url(/img/icons/details.png) 0 0 no-repeat; }
.download-icon {background: transparent url(/img/icons/download.png) 0 0 no-repeat; }
.drsi-icon {background: transparent url(/img/icons/drsi.png) 0 0 no-repeat; }
.edit-icon {background: transparent url(/img/icons/edit.png) 0 0 no-repeat; }
.export-icon {background: transparent url(/img/icons/export.png) 0 0 no-repeat; }
.export-metrics-icon {background: transparent url(/img/icons/table-export.png) 0 0 no-repeat; }
.file-icon {background: transparent url(/img/icons/file.png) 0 0 no-repeat; }
.filter-icon {background: transparent url(/img/icons/filter.png) 0 0 no-repeat; }
.help-icon {background: transparent url(/img/icons/help_16.png) 0 0 no-repeat; }
.left-arrow-icon {background: transparent url(/img/icons/import.png) 0 0 no-repeat; }
.manage-icon {background: transparent url(/img/icons/process.png) 0 0 no-repeat; }
.metadata-icon {background: transparent url(/img/icons/metadata.png) 0 0 no-repeat; }
.metadata-annotated-icon {background: transparent url(/img/icons/metadata-annotated.png) 0 0 no-repeat; }
.metrics-icon {background: transparent url(/img/icons/details.png) 0 0 no-repeat; }
.monitor-icon {background: transparent url(/img/icons/monitor.png) 0 0 no-repeat; }
.package-icon {background: transparent url(/img/icons/package.png) 0 0 no-repeat; }
.predict-icon {background: transparent url(/img/icons/predict.png) 0 0 no-repeat; }
.reload-icon {background: transparent url(/img/icons/reload.png) 0 0 no-repeat; }
.save-icon {background: transparent url(/img/icons/save.png) 0 0 no-repeat; }
.security-icon {background: transparent url(/img/icons/security.png) 0 0 no-repeat; }
.share-icon {background: transparent url(/img/icons/share.png) 0 0 no-repeat; }
.upload-icon {background: transparent url(/img/icons/upload.png) 0 0 no-repeat; }
.upload-red-icon {background: transparent url(/img/icons/upload-red.png) 0 0 no-repeat; }

.combo-icon {
    content: '';
    padding: 0 0 0 18px;
    width: 16px;
    height: 16px;
}



/*
    ===================================================================================
    H E L P
    ===================================================================================
*/
.contextual-help {
    float:              right;
    color:              blue;
    cursor:             pointer;
    padding:            0 0 0 20px;
    position:           relative;
    background:         transparent url(/static/images/icons/help_16.png) 0 0 no-repeat;
    text-decoration:    underline;
}

/*
    ===================================================================================
    S P E C I A L
    ===================================================================================
*/

.whiteout {
    background-color: #ffffff;
}

#drop_zone {
    border: 2px dashed #BBB;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    padding: 15px 25px;
    text-align: center;
    font: 20pt bold 'Vollkorn';
    color: #BBB;
    margin: 1px;
    background-color: #FFFAE9;
}

/*
    ===================================================================================
    S T A T U S   C O L O R S
    ===================================================================================
*/
.pending {
    background-color: #ffd700;
    padding: 2px;
    text-align: center;
}

.running {
    background-color: #87cefa;
    padding: 2px;;
    text-align: center;
}

.failed {
    background-color: #FF6347;
    padding: 2px;;
    text-align: center;
}

.successful {
    background-color: #7CFC00;
    padding: 2px;;
    text-align: center;
}


/*
    ===================================================================================
    H O W L   N O T I F I C A T I O N   S T Y L E S
    ===================================================================================
*/
#growl-div {
    position:absolute;
    z-index:20000;
    color: #fff;
    font-size: 1.20em;
    letter-spacing: 0.10em;
    /*font-weight: bold;*/
}

#growl-div .howl-msg-standard {
    background: #1B6595;
    border: 1px solid #4585A1;
    padding: 8px 40px;
}

#growl-div .howl-msg-error {
    background: #D94C4C;
    border: 1px solid #8D1919;
    padding: 8px 40px;
}


/*
    ===================================================================================
    A N I M A T E D   M E S S A G E   A N D   E R R O R   A L E R T S
    ===================================================================================
*/
#msg-div {
    position:    absolute;
    width:       400px;
    z-index:     20000;
    font-family: 'Lucida Grande', 'Helvetica', 'Arial';
    font-size:   1.10em;
}

#msg-div p {
    margin: 0;
}

#msg-div h3 {
    margin: 0 0 8px;
    font-weight: bold;
    font-size: 1.6em;
}

#msg-div .standard-msg {
    border-radius: 8px;
    -moz-border-radius: 8px;
    background: #1B6595;
    border: 2px solid #2B5570;
    margin-top: 2px;
    padding: 15px 20px 5px 20px;
    color: #fff;
}

#msg-div .error-msg h3 {
    margin: 0 0 8px;
    font-weight: bold;
    font-size: 1.6em;
    color: #fbe3e4;
}

#msg-div .error-msg {
    border-radius: 8px;
    -moz-border-radius: 8px;
    background: #D94C4C;
    border: 2px solid #8D1919;
    margin-top: 2px;
    padding: 15px;
    color: #fff;
}

.box-shadow{
    width: 400px;
    min-width: 200px;
    min-height: 120px;
    margin: auto;
    background: #ccc;
    border: 5px solid white;
    position:relative;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
}
.msg-bottom{
    width: 100%; 
    height: 45%;
    position:absolute;
    z-index: -2;
    bottom: 5px; 
    right: 0;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    -webkit-box-shadow: 0px 10px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 10px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 10px 2px rgba(0, 0, 0, 0.2);
}
.msg-bottom:after{
    content: "";
    position:absolute;
    right: 0; 
    bottom:0;
    width: 200px; 
    height: 65px;
    z-index: -1;
    background: rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 20px 30px 15px rgba(0, 0, 0, 0.52);
    -webkit-box-shadow: 20px 30px 15px rgba(0, 0, 0, 0.52);
    box-shadow: 20px 30px 15px rgba(0, 0, 0, 0.52);
    -moz-transform:skew(10deg,10deg) translate(-40px,-15px);
    -webkit-transform:skew(10deg,10deg) translate(-40px,-15px);
    transform:skew(10deg,10deg) translate(-40px,-15px);
}
.msg-bottom:before{
    content: "";
    position:absolute;
    left: 0; 
    bottom: 0;
    width:  200px; 
    height: 65px;
    z-index: -1;
    background: rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -20px 30px 15px rgba(0, 0, 0, 0.52);
    -webkit-box-shadow: -20px 30px 15px rgba(0, 0, 0, 0.52);
    box-shadow: -20px 30px 15px rgba(0, 0, 0, 0.52);
    -webkit-transform:skew(-10deg,-10deg) translate(40px,-15px);
    -moz-transform:skew(-10deg,-10deg) translate(40px,-15px);
    transform:skew(-10deg,-10deg) translate(40px,-15px);
}




/*
    D O C U M E N T   L A B E L S
*/
.normal-label:before {
    content: " ";
    height: 6px;
    width: 6px;
    display: block;
    position: absolute;
    right: -2px;
    top: 3px;
    background-color: #fcfdf5;
    border: 1px solid #83ab52;
    border-radius: 5px;
    box-shadow: 0 1px 0 #b2ddd3;
}


.normal-label {
    display: inline-block;
    padding: 0 15px 0 10px;
    height: 17px;
    line-height: 13px;
    border-radius: 5px;
    font-weight: normal;
    font-size:11px;
    text-decoration:none;

    border: 1px solid #769e42;
    box-shadow: inset 0 1px 0 #c5e59c ;
    background-color: #9ed35a;
    text-shadow: 0px 1px 1px #6ea23b;
    color: #000;
    background-image: linear-gradient(bottom, rgb(125,196,64) 0%, rgb(157,210,88) 100%);
    background-image: -o-linear-gradient(bottom, rgb(125,196,64) 0%, rgb(157,210,88) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(125,196,64) 0%, rgb(157,210,88) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(125,196,64) 0%, rgb(157,210,88) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(125,196,64) 0%, rgb(157,210,88) 100%);

    display:inline-block;
    border-radius: 5px 0 0 5px;
    border-right-width:0;
    position:relative;
    z-index:5;
    margin-right: 20px;
}

.normal-label:after {
    content: " ";
    width: 12px;
    height: 12px;
    line-height: 12px;
    font-size: 16px;
    border-top: 1px solid #769e42;
    border-right: 1px solid #769e42;
    box-shadow: inset 0 1px 0 #c5e59c ;
    background-color: #9ed35a;
    text-shadow: 0px 1px 1px #7eac46;
    border-radius: 3px 7px 3px 0;
    color: #000;
    background-image: linear-gradient(135deg, rgb(125,196,64) 0%, rgb(157,210,88) 100%);
    background-image: -o-linear-gradient(135deg, rgb(125,196,64) 0%, rgb(157,210,88) 100%);
    background-image: -moz-linear-gradient(135deg, rgb(125,196,64) 0%, rgb(157,210,88) 100%);
    background-image: -webkit-linear-gradient(135deg, rgb(125,196,64) 0%, rgb(157,210,88) 100%);
    background-image: -ms-linear-gradient(135deg, rgb(125,196,64) 0%, rgb(157,210,88) 100%);
    position:absolute;
    top: 1px;
    right: -7px;
    z-index:-3;
    -webkit-transform: rotate(45deg);  /* Saf3.1+, Chrome */
       -moz-transform: rotate(45deg);  /* FF3.5+ */
        -ms-transform: rotate(45deg);  /* IE9 */
         -o-transform: rotate(45deg);  /* Opera 10.5 */
            transform: rotate(45deg);
               filter: progid:DXImageTransform.Microsoft.Matrix(/* IE6–IE9 */
                       M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476, sizingMethod='auto expand');
                 zoom: 1;
}

.normal-label:hover {
    cursor: pointer;
    background-color: #b7fa66;
    background-image: linear-gradient(top, #b7fa66 0%, #7ec940 100%);
    background-image: -o-linear-gradient(top, #b7fa66 0%, #7ec940 100%);
    background-image: -moz-linear-gradient(top, #b7fa66 0%, #7ec940 100%);
    background-image: -webkit-linear-gradient(top, #b7fa66 0%, #7ec940 100%);
    background-image: -ms-linear-gradient(top, #b7fa66 0%, #7ec940 100%);
}

.normal-label:active {
  background-image: linear-gradient(top, rgb(125,196,64) 0%, rgb(157,210,88) 100%);
  background-image: -o-linear-gradient(top, rgb(125,196,64) 0%, rgb(157,210,88) 100%);
  background-image: -moz-linear-gradient(top, rgb(125,196,64) 0%, rgb(157,210,88) 100%);
  background-image: -webkit-linear-gradient(top, rgb(125,196,64) 0%, rgb(157,210,88) 100%);
  background-image: -ms-linear-gradient(top, rgb(125,196,64) 0%, rgb(157,210,88) 100%);
}


.normal-label:hover:after {
  background-color: #b7fa66;
  background-image: linear-gradient(-45deg, #b7fa66 0%, #7ec940 100%);
  background-image: -o-linear-gradient(-45deg, #b7fa66 0%, #7ec940 100%);
  background-image: -moz-linear-gradient(-45deg, #b7fa66 0%, #7ec940 100%);
  background-image: -webkit-linear-gradient(-45deg, #b7fa66 0%, #7ec940 100%);
  background-image: -ms-linear-gradient(-45deg, #b7fa66 0%, #7ec940 100%);
}
.normal-label:active:after {
  background-image: linear-gradient(-45deg, rgb(125,196,64) 0%, rgb(157,210,88) 100%);
  background-image: -o-linear-gradient(-45deg, rgb(125,196,64) 0%, rgb(157,210,88) 100%);
  background-image: -moz-linear-gradient(-45deg, rgb(125,196,64) 0%, rgb(157,210,88) 100%);
  background-image: -webkit-linear-gradient(-45deg, rgb(125,196,64) 0%, rgb(157,210,88) 100%);
  background-image: -ms-linear-gradient(-45deg, rgb(125,196,64) 0%, rgb(157,210,88) 100%);
}




.master-label:before {
    content: " ";
    height: 6px;
    width: 6px;
    display: block;
    position: absolute;
    right: -2px;
    top: 3px;
    background-color: #fcfdf5;
    border: 1px solid #83ab52;
    border-radius: 5px;
    box-shadow: 0 1px 0 #EFE07C;
}


.master-label {
    display:        inline-block;
    padding:        0 15px 0 10px;
    height:         17px;
    line-height:    13px;
    border-radius:  5px;
    font-weight:    normal;
    font-size:      11px;
    text-decoration:none;

    border: 1px solid #D6C66F;
    box-shadow: inset 0 1px 0 #EFE07C ;
    background-color: #9ed35a;
    text-shadow: 0px 1px 1px #EFE07C;
    color: #ffffff !important;

    background: #fefcea; /* Old browsers */
    background: -moz-linear-gradient(top,  #fefcea 0%, #efe07c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefcea), color-stop(100%,#efe07c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fefcea 0%,#efe07c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fefcea 0%,#efe07c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fefcea 0%,#efe07c 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fefcea 0%,#efe07c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#efe07c',GradientType=0 ); /* IE6-9 */
    
    display:inline-block;
    border-radius: 5px 0 0 5px;
    border-right-width:0;
    position:relative;
    z-index:5;
    margin-right: 20px;
}

.master-label:after {
    content: " ";
    width: 12px;
    height: 12px;
    line-height: 12px;
    font-size: 16px;
    border-top: 1px solid #EFE07C;
    border-right: 1px solid #EFE07C;
    box-shadow: inset 0 1px 0 #D6C66F ;
    background-color: #9ed35a;
    text-shadow: 0px 1px 1px #7eac46;
    border-radius: 3px 7px 3px 0;
    color: #fff;

    background: #fefcea; /* Old browsers */
    background: -moz-linear-gradient(top,  #fefcea 0%, #efe07c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefcea), color-stop(100%,#efe07c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fefcea 0%,#efe07c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fefcea 0%,#efe07c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fefcea 0%,#efe07c 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fefcea 0%,#efe07c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#efe07c',GradientType=0 ); /* IE6-9 */

    position:absolute;
    top: 1px;
    right: -7px;
    z-index:-3;
    -webkit-transform: rotate(45deg);  /* Saf3.1+, Chrome */
       -moz-transform: rotate(45deg);  /* FF3.5+ */
        -ms-transform: rotate(45deg);  /* IE9 */
         -o-transform: rotate(45deg);  /* Opera 10.5 */
            transform: rotate(45deg);
               filter: progid:DXImageTransform.Microsoft.Matrix(/* IE6–IE9 */
                       M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476, sizingMethod='auto expand');
                 zoom: 1;
}

.master-label:hover {
    cursor: pointer;
    background: #efe07c; /* Old browsers */
    background: -moz-linear-gradient(top,  #efe07c 0%, #fcf6bf 47%, #efe07c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efe07c), color-stop(47%,#fcf6bf), color-stop(100%,#efe07c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #efe07c 0%,#fcf6bf 47%,#efe07c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #efe07c 0%,#fcf6bf 47%,#efe07c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #efe07c 0%,#fcf6bf 47%,#efe07c 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #efe07c 0%,#fcf6bf 47%,#efe07c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efe07c', endColorstr='#efe07c',GradientType=0 ); /* IE6-9 */
}

.master-label:hover:after {
    background: #efe07c; /* Old browsers */
    background: -moz-linear-gradient(top,  #efe07c 0%, #fcf6bf 47%, #efe07c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efe07c), color-stop(47%,#fcf6bf), color-stop(100%,#efe07c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #efe07c 0%,#fcf6bf 47%,#efe07c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #efe07c 0%,#fcf6bf 47%,#efe07c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #efe07c 0%,#fcf6bf 47%,#efe07c 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #efe07c 0%,#fcf6bf 47%,#efe07c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efe07c', endColorstr='#efe07c',GradientType=0 ); /* IE6-9 */
}

.master-label:active {
    background: #efe07c; /* Old browsers */
    background: -moz-linear-gradient(top,  #efe07c 16%, #fefcea 97%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(16%,#efe07c), color-stop(97%,#fefcea)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #efe07c 16%,#fefcea 97%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #efe07c 16%,#fefcea 97%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #efe07c 16%,#fefcea 97%); /* IE10+ */
    background: linear-gradient(to bottom,  #efe07c 16%,#fefcea 97%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efe07c', endColorstr='#fefcea',GradientType=0 ); /* IE6-9 */
}
.master-label:active:after {
    background: #efe07c; /* Old browsers */
    background: -moz-linear-gradient(top,  #efe07c 16%, #fefcea 97%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(16%,#efe07c), color-stop(97%,#fefcea)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #efe07c 16%,#fefcea 97%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #efe07c 16%,#fefcea 97%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #efe07c 16%,#fefcea 97%); /* IE10+ */
    background: linear-gradient(to bottom,  #efe07c 16%,#fefcea 97%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efe07c', endColorstr='#fefcea',GradientType=0 ); /* IE6-9 */
}

.x-btn-group-header-text-default-framed {
    font: normal 1.15em tahoma,arial,verdana,sans-serif;
    color: #3e6aaa;
}