{% extends 'blueprints/blueprint-detail-base.html' %}
{% load staticfiles %}


{% block detail-content %}
<!-- modal for editing host definitions -->
<div id="edit-host-definition-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form data-bind="submit: saveHostDefinition">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Edit Host Definition</h4>
                </div>
                <div class="modal-body" data-bind="if: currentHostDefinition">
                    <div id="title" class="form-group">
                        <label for="hostDefinitionTitle">Title</label>
                        <input type="text" class="form-control" id="hostDefinitionTitle"
                               data-bind="value: currentHostDefinition().title, valueUpdate: 'keyup'">
                    </div>
                    <div id="description" class="form-group">
                        <label for="hostDefinitionDescription">Description</label>
                        <input type="text" class="form-control" id="hostDefinitionDescription"
                               data-bind="value: currentHostDefinition().description, valueUpdate: 'keyup'">
                    </div>
                    <div id="hostname_template" class="form-group">
                        <label for="hostDefinitionHostnameTemplate">Hostname Template</label>
                        <input type="text" class="form-control" id="hostDefinitionHostnameTemplate"
                               data-bind="value: currentHostDefinition().hostnameTemplate, valueUpdate: 'keyup'">
                    </div>
                    <div id="zone" class="form-group">
                        <label for="hostDefinitionZone">Zone</label>
                        <input type="text" class="form-control" id="hostDefinitionZone"
                               data-bind="value: currentHostDefinition().zone, valueUpdate: 'keyup'">
                    </div>
                    <div id="subnet_id" class="form-group">
                        <label for="hostDefinitionSubnetId">Subnet ID</label>
                        <input type="text" class="form-control" id="hostDefinitionSubnetId"
                               data-bind="value: currentHostDefinition().subnetId, valueUpdate: 'keyup'">
                    </div>
                    <div id="spot_price" class="form-group">
                        <div class="checkbox">
                            <label class="checkbox-custom" data-initialize="checkbox">
                                <input class="sr-only" type="checkbox"
                                       data-bind="checked: currentHostDefinition().isSpot">
                                <span class="checkbox-label">Spot instances?</span>
                            </label>
                        </div>
                        <label data-bind="visible: currentHostDefinition().isSpot" for="hostDefinitionSpotPrice">Spot Price</label>
                        <input type="text" class="form-control" id="hostDefinitionSpotPrice"
                               data-bind="visible: currentHostDefinition().isSpot, value: currentHostDefinition().spotPrice, valueUpdate: 'keyup'">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="col-sm-9 col-sm-pull-3">
    <!-- ko foreach: blueprint.hostDefinitions -->
    <div class="row stackdio-hidden-on-load">
        <div class="col-md-5">
            <h4><strong>Title:</strong> <span data-bind="text: title"></span></h4>
        </div>
        <div class="col-md-5">
            <h4><strong>Description:</strong> <span data-bind="text: description"></span></h4>
        </div>
        <div class="col-md-2">
            <button class="btn btn-info pull-right" data-bind="click: $root.editHostDefinition">Edit</button>
        </div>
    </div>
    <div class="row stackdio-hidden-on-load">
        <div class="col-md-4">
            <h5><strong>Image:</strong> <span data-bind="text: cloudImage"></span></h5>
        </div>
        <div class="col-md-4">
            <h5><strong>Size:</strong> <span data-bind="text: size"></span></h5>
        </div>
        <div class="col-md-4">
            <h5><strong>Count:</strong> <span data-bind="text: count"></span></h5>
        </div>
    </div>
    <div class="row stackdio-hidden-on-load">
        <div class="col-md-4">
            <h5><strong>Zone:</strong> <span data-bind="text: zone"></span></h5>
        </div>
        <div class="col-md-4">
            <h5><strong>Subnet ID:</strong> <span data-bind="text: subnetId"></span></h5>
        </div>
        <div class="col-md-4">
            <h5><strong>Spot Price:</strong> <span data-bind="text: spotPrice"></span></h5>
        </div>
    </div>
    <div class="row stackdio-hidden-on-load">
        <div class="col-md-12">
            <table class="table table-hover table-condensed">
                <thead>
                <tr>
                    <th style="width: 50%">Title</th>
                    <th style="width: 30%">SLS Path</th>
                    <th style="width: 20%">Order</th>
                </tr>
                </thead>
                <tbody data-bind="foreach: components">
                <tr>
                    <td data-bind="text: title"></td>
                    <td data-bind="text: slsPath"></td>
                    <td data-bind="text: order"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- ko if: ($index() !== ($root.blueprint.hostDefinitions().length - 1)) -->
    <hr>
    <!-- /ko -->
    <!-- /ko -->
</div>
{% endblock %}