{% extends 'stackdio/page.html' %}

{% block title %}Blueprints{% endblock %}
{% block blueprint-class %}active{% endblock %}

{% block page-content %}
    <div class="row">
        <div class="col-md-6">
            <h2 style="margin-top: 0">Blueprints</h2>
            <p>Manage all of your blueprints here.</p>
        </div>
        <div class="col-md-6 text-right">
            {% if has_admin %}
            <!-- Only show the button if the user has permission to see it-->
            <a class="btn btn-warning" href="{% url 'ui:blueprint-model-permissions' %}">Permissions</a>
            {% endif %}
{#            {% if has_create %}#}
{#                <a class="btn btn-success" href="{% url 'ui:blueprint-create' %}">New Blueprint</a>#}
{#            {% endif %}#}
        </div>
    </div>

    {% include 'stackdio/stubs/pager.html' with object_type='blueprints' search=True %}

    <div class="row" style="margin-top: 15px">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <!-- ko foreach: sortableFields -->
                    <th data-bind="style: {width: width}">
                        <a href="#" data-bind="text: displayName, click: function (field) { $root.changeSortKey(field) }"></a>
                        <span data-bind="visible: $root.sortKey() === name, css: {dropdown: $root.sortAsc(), dropup: !$root.sortAsc()}">
                            <span class="caret"></span>
                        </span>
                    </th>
                    <!-- /ko -->
                    <th style="width: 5%"></th>
                    <th style="width: 5%"></th>
                </tr>
                </thead>
                <tbody data-bind="foreach: sortedObjects">
                <tr class="stackdio-hidden-on-load">
                    <td data-bind="text: title, click: function (blueprint) { $root.goToDetailPage(blueprint) }"></td>
                    <td data-bind="text: description, click: function (blueprint) { $root.goToDetailPage(blueprint) }"></td>
                    <td data-bind="foreach: labelList, click: function (blueprint) { $root.goToDetailPage(blueprint) }">
                        <!-- ko if: value -->
                        <span class="label label-default" data-bind="text: key + ':' + value"></span>
                        <!-- /ko -->
                        <!-- ko ifnot: value -->
                        <span class="label label-default" data-bind="text: key"></span>
                        <!-- /ko -->
                    </td>
                    <td data-bind="text: stackCount, click: function (blueprint) { $root.goToDetailPage(blueprint) }"></td>
                    <td class="text-center">
                        <a href="#" class="btn btn-xs btn-info" data-bind="click: $data.launch">
                            Launch
                        </a>
                    </td>
                    <td class="text-center">
                        <a href="#" data-bind="click: $data.delete, if: !$root.permissionsMap[$data.id] || $root.permissionsMap[$data.id].delete">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
