{% extends 'stackdio/page.html' %}

{% block title %}Blueprint Detail{% endblock %}
{% block blueprint-class %}active{% endblock %}

{# Inject the blueprint id into the window so we can access it in our javascript VM #}
{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        if (typeof window.stackdio == 'undefined') window.stackdio = {};
        window.stackdio.blueprintId = {{ blueprint.id }};
        window.stackdio.blueprintTitle = '{{ blueprint.title }}';
        {% if has_update != None %}
        window.stackdio.hasUpdatePerm = {{ has_update | lower }};
        {% endif %}
    </script>
{% endblock %}


{% block page-content %}
    <div class="row">
        <div class="col-sm-3 col-sm-push-9">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation"{% if page_id == 'detail' %} class="active"{% endif %}>
                    <a href="{% url 'ui:blueprint-detail' pk=blueprint.id %}">Detail</a>
                </li>
                <li role="presentation"{% if page_id == 'properties' %} class="active"{% endif %}>
                    <a href="{% url 'ui:blueprint-properties' pk=blueprint.id %}">Properties</a>
                </li>
                <li role="presentation"{% if page_id == 'labels' %} class="active"{% endif %}>
                    <a href="{% url 'ui:blueprint-labels' pk=blueprint.id %}">Labels</a>
                </li>
                <li role="presentation"{% if page_id == 'host-definitions' %} class="active"{% endif %}>
                    <a href="{% url 'ui:blueprint-host-definitions' pk=blueprint.id %}">Host Definitions</a>
                </li>
{#                <li role="presentation"{% if page_id == 'access-rules' %} class="active"{% endif %}>#}
{#                    <a href="">Access Rules</a>#}
{#                </li>#}
                <li role="presentation"{% if page_id == 'formula-versions' %} class="active"{% endif %}>
                    <a href="{% url 'ui:blueprint-formula-versions' pk=blueprint.id %}">Formula Versions</a>
                </li>
                {% if has_admin %}
                <li role="presentation"{% if page_id == 'permissions' %} class="active"{% endif %}>
                    <a href="{% url 'ui:blueprint-object-permissions' pk=blueprint.id %}">Permissions</a>
                </li>
                {% endif %}
            </ul>
        </div>

        {% block detail-content %}{% endblock %}
    </div>
{% endblock %}