img.logo {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    float:left;
}

.view {
     margin: 60px 40px 0 220px;
}

.no-margin {
    margin: 0;
}

.stretch-full {
    width: 100%;
}

.dotted-border {
    border: 1px dotted black;
}

.xxsmall-padding {
    padding: 3px;
}


/*
    ===================================================================================
    F O R M S
    ===================================================================================
*/
.stackd-form {
    max-width: 850px;
    padding: 19px 20px 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
    border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.stackd-form, .modal-body {
    max-height: 700px !important;
}

.form-newstack {
    width: 800px;
    height: 600px;
}

.form-small {
    width: 600px;
    height: 300px;
}

.stackd-form .stackd-form-heading,
.stackd-form .checkbox {
    margin-bottom: 10px;
}

.data-grid {
    font-size: 0.8em;
}

.data-grid thead {
    background-color: #D4D9DB;
    color: #000;
}

.data-grid tbody tr {
    background-color: #FAFDFF !important;
    color: #000;
}

.data-grid thead tr th,
.data-grid tbody tr td
 {
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #D2D2D2;
    padding: 5px;
}


/*
    ===================================================================================
    S I D E B A R
    ===================================================================================
*/
#sidebar {
    width: 189px;
    top: 45px;
    position: absolute;
    margin-left: 0;
    margin-top: 0;
    border-right: 1px solid #CCC;
    background-color: #FFF;
}

#sidebar:before {
    content: "";
    display: block;
    width: 189px;
    position: fixed;
    bottom: 0;
    top: 0;
    z-index: -1;
    background-color: #f2f2f2;
    border-right: 1px solid #CCC;
}

#sidebar-shortcuts {
    background-color: #fafafa;
    line-height: 37px;
    max-height: 40px;
    margin-bottom: 0;
    border-bottom: 1px solid #DDD;
    text-align: center;
}

#sidebar-shortcuts-large {
padding-bottom: 4px;
}

#sidebar-shortcuts-mini {
    display: none;
    font-size: 0;
    width: 42px;
    line-height: 18px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #FFF;
}

.nav-list {
margin: 0;
padding: 0;
list-style: none;
}

.nav-list>li:first-child {
border-top: 0;
}

.nav-list>li {
display: block;
padding: 0;
margin: 0;
border: 0;
border-top: 1px solid #fcfcfc;
border-bottom: 1px solid #e5e5e5;
position: relative;
}

.nav-list>li>a {
display: block;
height: 38px;
line-height: 36px;
padding: 0 16px 0 7px;
background-color: #f9f9f9;
color: #585858;
text-shadow: none!important;
font-size: 13px;
text-decoration: none;
}

.nav-list>li>a, .nav-list .nav-header {
margin: 0;
}

.nav-list>li>a>[class*="icon-"]:first-child {
display: inline-block;
vertical-align: middle;
min-width: 22px;
text-align: center;
font-size: 18px;
font-weight: normal;
}

.nav-list li [class^="icon-"], .nav-list li [class*=" icon-"] {
    width: auto;
}

.nav-list>li>a {
line-height: 36px;
color: #585858;
text-shadow: none!important;
font-size: 13px;
}

.nav-list>li.active {
background-color: #FFF;
}

.nav-list>li>a>.arrow {
display: inline-block;
width: 14px!important;
height: 14px;
line-height: 14px;
text-shadow: none;
font-size: 18px;
position: absolute;
right: 10px;
top: 11px;
padding: 0;
color: #666;
}

.nav-list>li>.submenu {
display: none;
list-style: none;
margin: 0;
padding: 0;
position: relative;
background-color: #FFF;
border-top: 1px solid #e5e5e5;
}

.nav-list>li>.submenu>li {
margin-left: 0;
position: relative;
}

.nav-list>li>.submenu>li:first-child>a {
border-top: 1px solid #fafafa;
}

.nav-list>li>.submenu>li>a {
padding-left: 37px;
position: relative;
}

.nav-list>li>.submenu>li>a {
display: block;
color: #616161;
padding: 7px 0 8px 32px;
margin: 0;
border-bottom: 1px dotted #e4e4e4;
}

.nav-list>li>.submenu>li>a>[class*="icon-"]:first-child {
display: none;
font-size: 12px;
font-weight: normal;
width: 22px;
height: 16px;
line-height: 16px;
text-align: center;
position: absolute;
left: 8px;
top: 10px;
z-index: 1;
background-color: #FFF;
}
