<template name="awsStackForm">
    <form id="aws-stack-form" class="hide form-newstack modal">
        <legend>Stack Details</legend>

        <input id="stack-title" type="text" class="input-block-level" placeholder="Title">
        <textarea id="stack-purpose"  class="span5" rows="4" placeholder="Purpose"></textarea>

        <legend>
            Stack Hosts 
            <span class="pull-right">
                <a class="btn" data-toggle="modal" href="#aws-host-form"><i class="icon-plus-sign"></i> Add Host</a>
            </span>
        </legend>

        <div class="well">
            <div class="row-fluid">
                <ul class="thumbnails">
                    <li class="span2">
                        <a href="#" class="thumbnail state-preview btn-inverse">hadoop</a>
                    </li>
                    <li class="span2">
                        <a href="#" class="thumbnail state-preview btn-inverse">hdfs</a>
                    </li>
                    <li class="span2">
                        <a href="#" class="thumbnail state-preview btn-inverse">graphite</a>
                    </li>
                </ul>
            </div>
        </div>

        <button class="btn btn-large btn-primary" type="submit">Launch Stack</button>
    </form>

</template>

