<div>
    <div class="view">
        <ol class="breadcrumb">
            <li><a href="#" data-bind="click: function () { $root.navigate({view:'blueprint.list'}) }">Blueprints</a></li>
            <li data-bind="text: blueprintTitle"></li>
            <li data-bind="text: hostTitle"></li>
            <li>New Access Rule</li>
        </ol>


        <div class="row bottom-separation">
            <div class="col-xs-12 col-sm-12 col-md-12 large-heading">Access Rule</div>
        </div>

        <form id="host-access-rule-form" role="form">
            <div class="form-group">
                <label for="rule_protocol" class="control-label">Protocol</label>
                <select id="rule_protocol" 
                        data-bind="options: ['tcp','udp','icmp']",
                        data-container="body"
                        class="form-control selectpicker"></select> 
            </div>

            <div class="form-group">
                <label for="rule_from_port" class=" control-label">From port</label>
                <input type="text" class="form-control" id="rule_from_port" placeholder="22" autofocus>
            </div>

            <div class="form-group">
                <label for="rule_to_port" class=" control-label">To port</label>
                <input type="text" class="form-control" id="rule_to_port" placeholder="22">
            </div>

            <div class="well">
                <div class="form-group">
                    <label class="control-label" for="rule_ip_address">IP Address</label>
                    <input type="text" class="form-control" id="rule_ip_address" placeholder="0.0.0.0/32">
                </div>

                <div class="form-group">
                    or
                </div>

                <div class="form-group">
                    <label class="control-label" for="rule_group">Group</label>
                    <input type="text" class="form-control" id="rule_group" placeholder="another group name">
                </div>
            </div>

            <div class="row">
                 <div class="col-md-3 col-md-offset-9  pull-right">
                    <button class="btn" data-bind="click: cancelChanges">Cancel</button>
                    <button class="btn btn-primary" data-bind="click: addRule">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
