<div id="accounts-binding-target">
    <div class="view">
        <div class="row bottom-separation">
            <div class="col-xs-4 col-sm-4 col-md-4 large-heading">Accounts</div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-md-offset-4 col-sm-offset-4 col-xs-offset-4">
                <div class="btn-group pull-right bottom-separation" data-bind="visible: isSuperUser">
                    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                        New Account
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu original-dropdown-menu" data-bind="foreach: ProviderTypeStore.collection()">
                        <li>
                            <a href="#" data-bind="text: title, click: $root.createAccount"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row bottom-separation">
            <div class="col-xs-12 col-sm-12 col-md-12 section-synopsis">
                The Accounts page is where you can define all of the different accounts that you have established for each of the supported cloud providers. Please have the private key, and account id, issued by your provider before setting one up. For more information on Accounts, please refer to the <a href="#" data-bind="click: $root.showHelp">help section</a>.
            </div>
        </div>

        <table id="accounts" class="table table-bordered">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Profiles</th>
                    <th style="width:5%"></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: EnhancedAccountStore">
                <tr>
                    <td>
                        <a data-bind="text: title, click: $root.editAccount"></a>
                    </td>
                    <td data-bind="text: description"></td>
                    <td>
                        <a data-bind="click: $root.listProfiles, text: 'View ' + $data.profile_count + ' profiles'"></a>
                    </td>
                    <td>
                        <div class="btn-group" data-bind="visible: $root.isSuperUser">
                            <a class="btn btn-info dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
                                Action <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu original-dropdown-menu">
                                <li>
                                    <a href="#" data-bind="text:'Delete', click: $root.deleteAccount"></a>
                                </li>
                                <li>
                                    <a href="#" data-bind="text:'Edit Security Groups', click: $root.editSecurityGroups"></a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>     
            </tbody>
        </table>
    </div>
</div>
