<div id="blueprints-binding-target" data-bind="" class="">
    <div class="view">

        <div class="row bottom-separation">
            <div class="col-md-4 large-heading">Blueprints</div>
            <div class="col-md-4 col-md-offset-4">
                <div class="btn-group pull-right small-top-separation">
                    <button class="btn btn-primary" data-bind="click: $root.showBlueprintForm">New Blueprint</button>
                </div>
            </div>
        </div>

        <div class="row bottom-separation">
            <div class="col-md-12 section-synopsis">
                Blueprints allow you to quickly define anyting from a single machine, to an entire 200 node Hadoop cluster. You can specify host name templates, provisioning orchestration, and custom properties for any Stacks launched from your Blueprint. 
            </div>
        </div>

        <table id="stacks" class="table table-bordered">
            <thead>
                <tr>
                    <th style="width:20%">Title</th>
                    <th style="width:40%">Description</th>
                    <th style="width:30%">Hosts</th>
                    <th style="width:10%"></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: stores.Blueprints">
                <tr>
                    <td>
                        <a href="#" data-bind="text: title, click: $root.showBlueprintForm"></a>
                    </td>
                    <td data-bind="text: description"></td>
                    <td>
                        <a href="#" 
                           data-bind="text: host_definitions.length + ' hosts',
                                      click: $root.showBlueprintHostList"></a>
                    </td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown" href="#">
                                Action <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu original-dropdown-menu">
                                <li>
                                    <a href="#" data-bind="text: 'Delete', click: $root.deleteBlueprint"></a>
                                </li>
                                <li>
                                    <a href="#" data-bind="text: 'Launch Stack', click: $root.launchStack"></a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>     
            </tbody>
        </table>
    </div>
</div>