<div>
    <div class="view">
        <ol class="breadcrumb">
            <li><a href="#" data-bind="click: function () { $galaxy.transport('blueprint.list'); }">Blueprints</a></li>
            <li data-bind="text: blueprintTitle"></li>
        </ol>

        <div class="row bottom-separation">
            <div class="col-xs-12 col-sm-12 col-md-12 large-heading">Blueprint Detail</div>
        </div>

        <form id="blueprint-form" role="form" class="form-inline">
            <div class="row bottom-separation">
                <div class="col-md-5">
                    <label class="sr-only" for="blueprint_title">Title</label>
                    <input type="text" class="form-control" id="blueprint_title" placeholder="Blueprint title">
                </div>
                <div class="col-md-5">
                    <label class="sr-only" for="blueprint_purpose">Description</label>
                    <input type="text" class="form-control" id="blueprint_purpose" placeholder="Purpose of blueprint">
                </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <div class="checkbox">
                        <label>
                            <input id="public_blueprint" type="checkbox" value=""> Public Blueprint
                        </label>
                    </div>
                </div>
            </div>

            <div class="row top-separation bottom-separation">
                <div class="col-md-4 small-heading">Blueprint Hosts</div>
                <div class="col-md-4 col-md-offset-4">
                    <div class="btn-group pull-right">
                        <a class="btn btn-primary dropdown-toggle" style="color: #fff" data-toggle="dropdown" href="#">
                            Add Host <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" data-bind="foreach: $root.ProfileStore.collection">
                            <li>
                                <a href="#" data-bind="text: title, click: $root.addHost"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <table id="blueprint_hosts" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Components</th>
                                <th>Count</th>
                                <th>Size</th>
                                <th>Host Pattern</th>
                                <th>Access Rules</th>
                                <th>Volumes</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: $root.BlueprintHostStore.collection">
                            <tr>
                                <td data-bind="text: title"></td>
                                <td data-bind="html: flat_components"></td>
                                <td data-bind="text: count"></td>
                                <td data-bind="text: instance_size.title"></td>
                                <td data-bind="text: hostname_template"></td>
                                <td data-bind="html: flat_access_rules"></td>
                                <td data-bind="html: flat_volumes"></td>
                                <td>
                                    <a class="linkify" data-bind="click: $root.removeHost"> Delete </a>
                                </td>
                            </tr>     
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row top-separation bottom-separation">
                <div class="col-md-12 small-heading">Blueprint Properties</div>
                <div class="col-md-12">
                    <textarea  
                           class="form-control" 
                           rows="9" 
                           id="blueprint_properties" 
                           placeholder="If you select a formula that has default properties, they will be shown here"></textarea>
                </div>
            </div>
            
            <div class="row">
                <div id="orchestration-error" class="alert alert-danger alert-dismissable hide view">
                    <button id="clearError" type="button" class="close" aria-hidden="true">&times;</button>
                    <strong>Error!</strong>
                    <div id="orchestration-error-content"></div>
                </div>
            </div>

            <div class="row top-separation bottom-separation">
                <div class="col-md-12 small-heading">Component Orchestration</div>
                <div class="col-md-12">
                    <table id="component_list" class="table table-bordered table-condensed">
                        <thead>
                            <tr>
                                <th>Host</th>
                                <th>Component</th>
                                <th>Path</th>
                                <th style="width:50px;"></th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: BlueprintComponentStore.collection()">
                            <tr>
                                <td data-bind="with: host"><span data-bind="text: title"></span></td>
                                <td data-bind="text: title"></td>
                                <td data-bind="text: sls_path"></td>
                                <td>
                                    <input type="text" class="form-control" data-bind="attr: { id: 'component_order_' + id }, value: order">
                                </td>
                            </tr>     
                        </tbody>
                    </table>
                </div>
            </div>


            <div class="row">
                 <div class="col-md-3 col-md-offset-9 pull-right">
                    <button class="btn" data-bind="click: cancelChanges">Cancel</button>
                    <button class="btn btn-primary" data-bind="click: saveBlueprint">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
