<div id="formula-binding-target" class="" data-bind="">
    <div class="view">
        <div class="row bottom-separation">
            <div class="col-xs-4 col-sm-4 col-md-4 large-heading">Import Formula</div>
        </div>

        <div class="row bottom-separation">
            <div class="col-xs-12 col-sm-12 col-md-12 section-synopsis">
              <p>Formulas are imported from external repositories where you can build up an entire ecosystem of components to be installed on a Stack.</p>
              <p>stackd.io has a set of supported formulas located at <a href="https://github.com/stackdio-formulas">https://github.com/stackdio-formulas</a>. To import one or more of the formulas, go into the formula repository you want to import and copy-and-paste the HTTPS clone URL that GitHub provides. For example, the java-formula's clone URL is https://github.com/stackdio-formulas/java-formula.git.</p>
            </div>
        </div>

        <form id="formula-form">
            <div class="modal-body large-modal-body">
                <div class="form-group">
                    <input type="text" class="form-control" id="formula_url" placeholder="Enter repository URL...">
                </div>

                <label>Git username/password required for private repositories only.&nbsp;&nbsp;Your password will NOT be stored unless you would like it to be.</label>
                <div class="row">
                    <div class="col-md-5 col-lg-3">
                        <div class="form-group">
                            <label for="git_username" class="sr-only">Git username required for private repositories only</label>
                            <input type="text" class="form-control" id="git_username" placeholder="Git username">
                        </div>
                    </div>
                    <div class="col-md-5 col-lg-3">
                        <div class="form-group">
                            <label for="git_password" class="sr-only">Git password required for private repositories only</label>
                            <input type="password" class="form-control" id="git_password" placeholder="Git password">
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-3">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="save_git_password">Save password?
                            </label>
                        </div>
                    </div>
                </div>
                <div class="section-synopsis">
                    <p><strong>Tip:</strong> If using GitHub, you can generate a personal access token in your user settings and use it as the username with a blank password.&nbsp;&nbsp;Be sure to check the save password box when using this option.<br>
                       If you have GitHub two-factor authentication enabled, you <strong>MUST</strong> use a personal access token as your username.</p>
                </div>
            </div>

            <div class="section-synopsis" style="margin-top: 40px;">
                <button class="btn btn-danger" data-bind="click: $root.cancelChanges">Cancel</button>
                <button class="btn btn-primary" data-bind="click: $root.importFormula">Import</button>
            </div>
        </form>

    </div>
</div>
