<div class="view">
    <ol class="breadcrumb">
        <li><a href="#" data-bind="click: function () { $galaxy.transport('account.list'); }">Providers</a></li>
        <li data-bind="text: accountTitle"></li>
        <li>Security Groups</li>
    </ol>

    <div class="row bottom-separation">
        <div class="col-xs-12 col-sm-12 col-md-12 large-heading">Security Groups</div>
    </div>

    <form id="default-securitygroup-form" class="form-horizontal" role="form">

    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <h4>Option 1. Pick an AWS security group</h4>
            <div>
                <select id="aws_security_group" 
                        class="form-control"
                        data-bind="options: AccountSecurityGroupStore.collection(), 
                                   optionsValue: 'group_id', 
                                   optionsText: 'display_name'",
                        data-size="12"
                        size="6"
                        data-container="body">
                </select> 
            </div>
            <br>
            <div class="text-center">
                <button class="btn btn-success glyphicon glyphicon-plus" 
                    data-bind="click: addAWSDefaultSecurityGroup"> Add</button>
            </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-6">
            <!--<div class="lead">Option 2. Pick existing stackd.io security group</div>-->
            <h4>Option 2. Pick existing stackd.io security group</h4>
            <div>
                <select id="stackdio_security_group" 
                        class="form-control"
                        data-bind="options: $root.stackdioGroupStore, 
                                   optionsValue: 'id', 
                                   optionsText: 'display_name'",
                        data-size="12"
                        size="6"
                        data-container="body">
                </select> 
            </div>
            <br>
            <div class="text-center">
                <button class="btn btn-success glyphicon glyphicon-plus" 
                    data-bind="click: addStackdioDefaultSecurityGroup"> Add</button>
            </div>
        </div>
    </div>

        <!-- Disabling for now -->
        <!--
        <div class="form-group">
            <div class="lead">Option 3. Create a new security group</div>
            <div class="col-sm-10">
                <input id="new_securitygroup_name" 
                       type="text"
                       placeholder="Enter in a new security group label"
                       class="form-control"
                       data-bind="event: { keypress: capture }"> 

            </div>
            <div class="col-sm-2">
                <button class="btn btn-success glyphicon glyphicon-plus" 
                        data-bind="click: addNewDefaultSecurityGroup"> Add</button>
            </div>
        </div>
        -->

        <div class="form-group">
            <div class="lead">Assigned Default Groups</div>
            <div>To remove any default security groups assigned to this account, click on the label below.</div>
            <div style="margin: 10px 0 0 0;" id="default_group_list"></div>
        </div>

        <div class="row">
            <hr>
            <div class="col-md-12 text-center">
                <button class="btn btn-primary" data-bind="click: cancelChanges">Done</button>
            </div>
        </div>
    </form>
</div>
