<div>
    <div class="view">
        <ol class="breadcrumb">
            <li><a href="#" data-bind="click: function () { $galaxy.transport('stack.list'); }">Stacks</a></li>
            <li data-bind="text: stackTitle"></li>
        </ol>

        <ul class="nav nav-tabs">
            <li class="active"><a href="#detail" class="small-heading" data-toggle="tab">Stack Details</a></li>
            <li><a href="#hosts" class="small-heading" data-toggle="tab" data-bind="visible: editMode() === 'update'">Stack Hosts</a></li>
            <li><a href="#logs" class="small-heading" data-toggle="tab" data-bind="visible: editMode() === 'update'">Stack Logs</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="detail">
                <form id="stack-launch-form" role="form">
                    <div class="form-group">
                        <label for="blueprint_title" class=" control-label">Blueprint</label>
                        <input type="text" class="form-control" id="blueprint_title" data-bind="value: blueprintTitle" disabled>
                    </div>

                    <div class="form-group">
                        <label for="stack_title" class=" control-label">Title</label>
                        <input type="text" class="form-control" id="stack_title" placeholder="Stack title">
                    </div>

                    <div class="form-group">
                        <label for="stack_description" class=" control-label">Description</label>
                        <input type="text" class="form-control" id="stack_description" placeholder="Purpose of Stack">
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="stack_namespace">Namespace</label>
                        <input type="text" class="form-control" id="stack_namespace" placeholder="Optionally provide a namespace for this stack">
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="stack_properties_preview">Stack Properties</label>
                        <textarea  
                            class="form-control" 
                            rows="20"
                            id="stack_properties_preview" 
                            data-bind="text: $root.stackPropertiesStringified()"
                            placeholder="The formulas for the selected Blueprint do not contain properties"></textarea>
                    </div>

                    <div class="row">
                        <div class="col-md-3 col-md-offset-9  pull-right">
                            <button class="btn" data-bind="click: cancelChanges">Cancel</button>
                            <button class="btn btn-primary" data-bind="visible: editMode() === 'create', click: $root.provisionStack">Begin Provisioning</button>
                            <button class="btn btn-primary" data-bind="visible: editMode() === 'update', click: $root.updateStack">Save</button>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <hr/>
                </div>
            </div>

            <div class="tab-pane active" id="hosts">
                <table id="stack-hosts" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>FQDN</th>
                            <th>State</th>
                            <th>Provider DNS</th>
                            <th>Hostname</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: StackHostStore.collection">
                        <tr>
                            <td data-bind="text: $data.fqdn"></td>
                            <td data-bind="text: $data.state"></td>
                            <td data-bind="text: $data.provider_dns"></td>
                            <td data-bind="text: $data.hostname"></td>
                        </tr>     
                    </tbody>
                </table>
            </div>

            <div class="tab-pane" id="logs" data-bind="visible: editMode() === 'update'">

                <ul class="nav nav-tabs" data-bind="visible: editMode() === 'update'">
                    <li class="active"><a href="#historical" data-toggle="tab">Historical</a></li>
                    <li><a href="#launch" data-toggle="tab">Launch</a></li>
                    <li><a href="#orchestration" data-toggle="tab">Orchestration</a></li>
                    <li><a href="#orchestration-error" data-toggle="tab">Orchestration Error</a></li>
                    <li><a href="#provisioning" data-toggle="tab">Provisioning</a></li>
                    <li><a href="#provisioning-error" data-toggle="tab">Provisioning Error</a></li>
                </ul>

                <div class="tab-content" data-bind="visible: editMode() === 'update'">
                    <div class="tab-pane active" id="historical">
                        <textarea class="form-control"
                               rows="20"
                               id="historical_logs" 
                               data-bind="text: $root.historicalLogText"
                               placeholder="Historical logs will be shown here."></textarea>
                    </div>
                    <div class="tab-pane" id="launch">
                        <textarea class="form-control"
                               rows="20"
                               id="launch_logs" 
                               data-bind="text: $root.launchLogText"
                               placeholder="Launch logs will be shown here."></textarea>
                    </div>
                    <div class="tab-pane" id="orchestration">
                        <textarea class="form-control"
                               rows="20"
                               id="orchestration_logs" 
                               data-bind="text: $root.orchestrationLogText"
                               placeholder="Orchestration logs will be shown here."></textarea>
                    </div>
                    <div class="tab-pane" id="orchestration-error">
                        <textarea class="form-control"
                               rows="20"
                               id="orchestration_error_logs" 
                               data-bind="text: $root.orchestrationErrorLogText"
                               placeholder="Orchestration error logs will be shown here."></textarea>
                    </div>
                    <div class="tab-pane" id="provisioning">
                        <textarea class="form-control"
                               rows="20"
                               id="provisioning_logs" 
                               data-bind="text: $root.provisioningLogText"
                               placeholder="Provisioning logs will be shown here."></textarea>
                    </div>
                    <div class="tab-pane" id="provisioning-error">
                        <textarea class="form-control"
                               rows="20"
                               id="provisioning_error_logs" 
                               data-bind="text: $root.provisioningErrorLogText"
                               placeholder="Provisioning error logs will be shown here."></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
