<div>
    <div class="view">
        <ol class="breadcrumb">
            <li><a href="#" data-bind="click: function () { $galaxy.transport('stack.list'); }">Stacks</a></li>
            <li data-bind="text: stackTitle"></li>
        </ol>

        <ul id="stack-tabs" class="nav nav-tabs nav-justified">
            <li><a href="#" id="detail" class="small-heading" data-toggle="tab" data-bind="click: goToTab">Stack Details</a></li>
            <li><a href="#" id="hosts" class="small-heading" data-toggle="tab" data-bind="click: goToTab">Stack Hosts</a></li>
            <li class="active"><a href="#" class="small-heading" id="logs" data-toggle="tab" data-bind="click: goToTab">Stack Logs</a></li>
            <li><a href="#" class="small-heading" id="accessrules" data-toggle="tab" data-bind="click: goToTab">Stack Access Rules</a></li>
            <li><a href="#" class="small-heading" id="actions" data-toggle="tab" data-bind="click: goToTab">Stack Actions</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active">
                <div class="container-fluid">
                    <br />
                    <div class="row">
                        <div class="col-md-2">
                            <ul class="nav nav-pills nav-stacked">
                                <li class="disabled"><a><strong>Latest</strong></a></li>
                                <!-- ko foreach: latestLogs -->
                                <li data-bind="attr: {class: $root.selectedLog() == $data.name ? 'active' : ''}">
                                    <a data-bind="click: $root.goToLog, text: $data.name" 
                                       ></a>
                                </li>
                                <!-- /ko -->
                                <li class="disabled"><a>&nbsp;<!-- spacer --></a></li>
                                <li class="disabled"><a><strong>Historical</strong></a></li>
                                <!-- ko foreach: historicalLogs -->
                                <li data-bind="attr: {class: $root.selectedLog() == $data.name ? 'active' : ''}">
                                    <a data-bind="click: $root.goToLog, text: $data.name"></a>
                                </li>
                                <!-- /ko -->
                            </ul>
                        </div>
                        <div class="col-md-10">

                            <div class="tab-content">
                                <div class="tab-pane active">
                                    <textarea class="form-control"
                                           rows="25"
                                           data-bind="text: $root.selectedLogText"
                                           placeholder:"This log doesn't exist yet">
                                    </textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
