{# To be used with the pagination JS generic #}
<div class="row">
    {% if search %}
    <div class="col-sm-6 col-xs-12" style="margin-top: 15px; margin-bottom: 15px">
        <div class="search input-group" role="search" id="pagination-search">
            <input id="search-input" type="search" class="form-control"
                   placeholder="Search for {{ object_type }}..."/>
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search"></span>
                    <span class="sr-only">Search</span>
                </button>
            </span>
        </div>
    </div>
    {% endif %}
    <div class="{% if search %}col-sm-3 {% endif %}col-xs-4" style="margin-top: 15px; margin-bottom: 15px">
        <p class="page-info" style="display: none" data-bind="visible: !loading()">
            Showing {{ object_type }}
            <span data-bind="text: startNum"></span>-<span data-bind="text: endNum"></span>
            of <span data-bind="text: count"></span>.
        </p>
        <p class="page-info" data-bind="visible: loading">
            Loading...
        </p>
    </div>
    <div class="{% if search %}col-sm-3 {% endif %}col-xs-8" style="margin-top: 15px; margin-bottom: 15px">
        <nav class="pull-right">
            <ul class="pager" style="margin: 0">
                <li data-bind="css: {disabled: !previousPage()}">
                    <a href="#" data-bind="click: goToPreviousPage">Previous</a>
                </li>
                <li data-bind="css: {disabled: !nextPage()}">
                    <a href="#" data-bind="click: goToNextPage">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>