<!-- Permissions for  {{ user_or_group }}s -->
<div class="row"{% if user_or_group == 'group' %} style="margin-top: 50px"{% endif %}>
    <div class="col-md-12">
        <table class="table table-hover table-striped table-condensed stackdio-hidden-on-load">
            <thead>
                <tr>
                    <th style="width: 20%">{{ user_or_group | capfirst }}s</th>
                    <!-- ko foreach: available{{ user_or_group | capfirst }}Permissions -->
                    <th class="text-center" data-bind="text: $data.capitalize(), style: {width: (80 / $root.available{{ user_or_group | capfirst }}Permissions().length) + '%' }"></th>
                    <!-- /ko -->
                </tr>
            </thead>
            <tbody data-bind="foreach: {{ user_or_group }}Permissions">
                <tr>
                    <td data-bind="text: {{ user_or_group }}"></td>
                    <!-- ko foreach: $root.available{{ user_or_group | capfirst }}Permissions -->
                    <td class="text-center">
                        <input type="checkbox" data-bind="checked: $parent.permissions[$data]">
                    </td>
                    <!-- /ko -->
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row" style="margin-top: 20px">
    <div class="col-md-6">
        <div id="add-{{ user_or_group }}" class="stackdio-hidden-on-load">
            <input class="typeahead form-control" type="text" placeholder="Search for {{ user_or_group }}s...">
        </div>
    </div>
    <div class="col-md-6 text-right">
        <button class="btn btn-primary" data-bind="click: function() { {{ user_or_group }}Save() }">Save</button>
        <button class="btn btn-info" data-bind="click: loadPermissions">Refresh</button>
    </div>
</div>
