{% extends 'stackdio/base.html' %}
{% load staticfiles %}
{% load stackdio %}

{% block scripts %}
    <script src="{% static 'stackdio/lib/bower_components/requirejs/require.js' %}"></script>
    <script type="text/javascript">
        if (typeof window.stackdio == 'undefined') window.stackdio = {};
        window.stackdio.advancedView = {{ user.settings.advanced_view | lower }};

        // Throw these in here so we don't have to retrieve them via AJAX
        window.stackdio.permissionsMap = {};
        {% for obj in object_list %}
        window.stackdio.permissionsMap['{{ obj.id }}'] = {
            'delete': {{ obj.can_delete | lower }},
            'update': {{ obj.can_update | lower }}
        };
        {% endfor %}
    </script>
    <script type="text/javascript">
        require(['{% main_file %}'], function () {
            require(['domReady!'], function () {
                require(['jquery', 'knockout', '{{ viewmodel }}'], function ($, ko, vm) {
                    // Unhide all the things that are hidden before we do anything weird with the DOM
                    $('.stackdio-hidden-on-load').removeClass('stackdio-hidden-on-load');

                    // We need to apply our bindings here.
                    ko.applyBindings(new vm());
                });
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="row" data-bind="if: breadcrumbs">
        <div class="col-md-12">
            <ol class="breadcrumb" data-bind="foreach: breadcrumbs">
                <li data-bind="css: {active: active}">
                    <!-- ko if: active -->
                    <span data-bind="text: title"></span>
                    <!-- /ko -->
                    <!-- ko ifnot: active -->
                    <a data-bind="text: title, attr: {href: href}"></a>
                    <!-- /ko -->
                </li>
            </ol>
        </div>
    </div>

    {% block page-content %}{% endblock %}
{% endblock content %}
