{% extends 'stackdio/base.html' %}
{% load staticfiles %}
{% load stackdio %}

{% block scripts %}
    <script src="{% static 'stackdio/lib/bower_components/requirejs/require.js' %}"></script>
    <script>
        requirejs(['{% main_file %}'], function (main) {
            requirejs(['knockout', '{{ viewmodel }}'], function (ko, vm) {
                // We need to apply our bindings here.
                ko.applyBindings(new vm());
            });
        });
    </script>
    <script type="text/javascript">
        if (typeof window.stackdio == 'undefined') window.stackdio = {};
        window.stackdio.advancedView = {{ user.settings.advanced_view | lower }};
    </script>
{% endblock %}

{% block content %}
    <div class="row" data-bind="if: breadcrumbs">
        <div class="col-md-12">
            <ol class="breadcrumb" data-bind="foreach: breadcrumbs">
                <li data-bind="css: {active: active}">
                    <!-- ko if: active -->
                    <span data-bind="text: title"></span>
                    <!-- /ko -->
                    <!-- ko ifnot: active -->
                    <a data-bind="text: title, attr: {href: href}"></a>
                    <!-- /ko -->
                </li>
            </ol>
        </div>
    </div>

    {% block page-content %}{% endblock %}
{% endblock content %}
