{% extends 'stackdio/page.html' %}

{% block title %}{{ object_type }} Permissions{% endblock %}

{% block page-content %}

{% with 'user' as user_or_group %}
    {% include 'stackdio/permissions-table.html' %}
{% endwith %}

{% with 'group' as user_or_group %}
    {% include 'stackdio/permissions-table.html' %}
{% endwith %}

<div class="row" style="margin-top: 20px">
    <div class="col-md-12">
        <button class="btn btn-primary" data-bind="click: save">Save</button>
        <button class="btn btn-info" data-bind="click: loadPermissions">Refresh</button>
    </div>
</div>
{% endblock %}