{% extends 'stackdio/page.html' %}

{% block title %}{{ object_type }} Permissions{% endblock %}

{# Inject the stack id into the window so we can access it in our javascript VM #}
{% block scripts %}
    {{ block.super }}
    {% if object_id %}
    <script type="text/javascript">
        if (typeof window.stackdio == 'undefined') window.stackdio = {};
        window.stackdio.objectId = {{ object_id }};
    </script>
    {% endif %}
{% endblock %}

{% block page-content %}

{% include 'stackdio/stubs/permissions-table.html' with user_or_group='user' %}

{% include 'stackdio/stubs/permissions-table.html' with user_or_group='group' %}

{% endblock %}