{% extends 'stackdio/page.html' %}

{% block title %}{{ object_type }} Permissions{% endblock %}

{# Inject the stack id into the window so we can access it in our javascript VM #}
{% if object_id %}
{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        window.stackdio = {};
        window.stackdio.objectId = {{ object_id }};
    </script>
{% endblock %}
{% endif %}

{% block page-content %}

{% with 'user' as user_or_group %}
    {% include 'stackdio/stubs/permissions-table.html' %}
{% endwith %}

{% with 'group' as user_or_group %}
    {% include 'stackdio/stubs/permissions-table.html' %}
{% endwith %}

<div class="row" style="margin-top: 20px">
    <div class="col-md-12">
        <button class="btn btn-primary" data-bind="click: function() { save() }">Save</button>
        <button class="btn btn-info" data-bind="click: loadPermissions">Refresh</button>
    </div>
</div>
{% endblock %}