{% extends 'stackdio/page.html' %}

{% block page-title %}User Profile{% endblock %}

{% block page-content %}
    <div class="row">
        <div class="col-md-12">
            <p><strong>Username:</strong> {{ user.username }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p><strong>Name:</strong> {{ user.first_name }} {{ user.last_name }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p><strong>Email:</strong> {{ user.email }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p><strong>Superuser:</strong> {{ user.is_superuser }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p><strong>Public Key:</strong> {{ user.settings.public_key }}</p>
        </div>
    </div>

{% endblock %}
