[Unit]
Description=stackdio web server
After=network.target

[Service]
LimitNOFILE=16384
Type=forking
User=stackdio
Group=stackdio
Restart=always
PIDFile=/var/run/stackdio/gunicorn.pid
ExecStart=/usr/local/bin/gunicorn --daemon --access-logfile /var/log/stackdio/access.log --log-file /var/log/stackdio/gunicorn.log --pid /var/run/stackdio/gunicorn.pid -w 12 stackdio.server.wsgi

[Install]
WantedBy=multi-user.target
