<div id="welcome-binding-target" data-bind="" class="">
    <div class="view">

        <div class="row bottom-separation-large">
            <div class="col-md-12 welcome-heading">Welcome to stackd.io </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12 medium-heading light">Launch a Stack</div>
                    <div class="col-md-12 section-synopsis light">
                        You can quickly launch a Stack by searching for Blueprints here. You can optionally provide a title, description, and namespace for the Stack.
                    </div>
                    <div class="col-md-12 bottom-separation-large">
                        <input type="text" class="form-control" id="blueprint_search" placeholder="Find the Blueprint you want to use...">
                    </div>
                </div>
            </div>

            <div class="col-md-7 col-md-offset-1">
                <div class="row">
                    <div class="col-md-12 medium-heading light">Your Running Stacks</div>
                </div>

                <div class="row">
                    <div class="col-md-12 stacklist">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>