{% set fqdn = grains.get('fqdn', 'localhost') %}
<html>
<head>
<title>CDH4 Landing Page</title>
</head>
<body>
<h1>CDH4 Landing Page</h1>
<p>Below is a list of useful links customized for your CDH4 cluster.</p>
<ul>
  {% if 'cdh4.hadoop.namenode' in grains['roles'] %}
  <li><a href='http://{{ fqdn }}:50030/'>Hadoop MR JobTracker</li>
  <li><a href='http://{{ fqdn }}:50070/'>Hadoop HDFS NameNode</li>
  {% endif %}
  {% if 'cdh4.hadoop.datanode' in grains['roles'] %}
  <li><a href='http://{{ fqdn }}:50060/'>Hadoop MR TaskTracker</li>
  <li><a href='http://{{ fqdn }}:50075/'>Hadoop HDFS DataNode</li>
  {% endif %}
  {% if 'cdh4.oozie' in grains['roles'] %}
  <li><a href='http://{{ fqdn }}:11000/'>Oozie Dashboard</li>
  {% endif %}
  {% if 'cdh4.hbase.master' in grains['roles'] %}
  <li><a href='http://{{ fqdn }}:60010/'>HBase Master</li>
  {% endif %}
  {% if 'cdh4.hbase.regionserver' in grains['roles'] %}
  <li><a href='http://{{ fqdn }}:60030/'>HBase RegionServer</li>
  {% endif %}
</ul>
</body>
</html>
