<template name="awsAccountForm">
    <!-- 
        For now, the id of an account form has to follow this pattern:
            {type_name}-account-form
        Where type_name is the value in the DB for the provider_type entry for this provider.
    -->
    <form id="aws-account-form" class="hide modal fade stackdform" action="">
        <legend>New AWS Account</legend>

        <input id="provider-type" type="hidden" value="1">


        <div class="control-group">
            <label class="control-label" for="accountTitle">Title</label>
            <div class="controls">
                <input id="accountTitle" name="accountTitle" type="text" class="input-xlarge">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="accountPurpose">Purpose</label>
            <div class="controls">
                <textarea id="accountPurpose" name="accountPurpose" class="span6" rows="2"></textarea>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="accessKey">AWS Access Key</label>
            <div class="controls">
                <input id="accessKey" name="accessKey" type="text" class="input-xlarge">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="secretKey">AWS Secret Key</label>
            <div class="controls">
                <input id="secretKey" name="secretKey" type="text" class="input-xlarge">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="keypairName">AWS Keypair Name</label>
            <div class="controls">
                <input id="keypairName" name="keypairName" type="text" class="input-xlarge">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="securityGroups">Security groups</label>
            <div class="controls">
                <input id="securityGroups" name="securityGroups" type="text" class="input-xlarge" placeholder="comma,delimited,group,names">
            </div>
        </div>

        <label>Private key file</label>
        <div class="fileupload fileupload-new" data-provides="fileupload">
            <div class="input-append">
                <div class="uneditable-input span3"><i class="icon-file fileupload-exists"></i> <span class="fileupload-preview"></span></div>
                <span class="btn btn-file">
                    <span class="fileupload-new">Select file</span><span class="fileupload-exists">Change</span>
                    <input id="aws-private-keyfile" type="file" />
                </span>
                <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
            </div>
        </div>

        <div class="modal-footer">

            <div id="aws-account-fail" class="alert alert-block alert-error fade in hide">
                <a class="close" data-hide="alert" href="#">&times;</a>
                <h4 class="alert-heading">Oh snap! You suck at the cloud!</h4>
                <p>Go back and enter in that data again... n00b...</p>
            </div>

            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button id="submit-account" class="btn btn-primary">Create Account</button>

        </div>
    </form>
</template>
