<template name="accountList">
    <div id="accounts" class="hide text-center view">
        <div>&nbsp;</div>
        <h2>Cloud Provider Accounts</h2>

        <div class="btn-group pull-right">
            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-plus-sign"></i> New Account
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu text-left">
                {{#each providertypes}}
                    <li>
                        <a data-toggle="modal" href="#{{type_name}}-account-form">{{title}}</a>
                    </li>
                {{/each}}
            </ul>
        </div>  
         
        {{> accountTable}}
    </div>
</template>

<template name="accountTable">
    <table id="account-table" class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        {{#each accounts}}
        <tr>
            <td><a href="{{url}}">{{title}}</a></td>
            <td>{{description}}</td>
        </tr>
        {{/each}}
    </table>
</template>