<body>
</body>

<template name="providerList">
    <div id="providers" class="hide text-center view">
        <div>&nbsp;</div>
        <h1>Cloud Providers</h1>
        {{> providerTable}}
    </div>
</template>

<template name="providerTable">
        <table id="provider-table" class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            {{#each providers}}
            <tr>
                <td><a href="{{url}}">{{title}}</a></td>
                <td>{{description}}</td>
            </tr>
            {{/each}}
        </table>
</template>