{% extends 'stackdio/page.html' %}
{% load staticfiles %}

{% block title %}Create Environment{% endblock %}
{% block environment-class %}active{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'stackdio/lib/bower_components/ladda/dist/ladda-themeless.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stackdio/lib/bower_components/select2/dist/css/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stackdio/lib/bower_components/select2-bootstrap-theme/dist/select2-bootstrap.min.css' %}">
{% endblock %}

{% block page-content %}
    <form data-bind="submit: createEnvironment">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group" id="name">
                    <label for="environmentName">Name</label>
                    <input type="text" class="form-control" id="environmentName"
                           data-bind="value: name, valueUpdate: 'keyup'">
                </div>
                <div class="form-group" id="description">
                    <label for="environmentDescription">Description</label>
                    <input type="text" class="form-control" id="environmentDescription"
                           data-bind="value: description, valueUpdate: 'keyup'">
                </div>
                <div class="form-group" id="properties">
                    <label for="environmentProperties">Properties</label>

                    <textarea class="form-control" id="environmentProperties" rows="25"
                              data-bind="value: propertiesJSON, valueUpdate: 'keyup'"></textarea>
                </div>
            </div>
            <div class="col-sm-6">
                <h3>Formula Versions</h3>
                <hr>
                <div id="formula_versions" data-bind="foreach: formulaVersions, visible: versionsReady">
                    <div class="form-group stackdio-hidden-on-load">
                        <label data-bind="text: formula, attr: {for: formulaHtmlId}"></label>
                        <select class="hidden-formula-versions" style="width: 100%" data-bind="attr: {id: formulaHtmlId}"></select>
                    </div>
                </div>
                <div class="stackdio-hidden-on-load" data-bind="visible: versionsReady() && formulaVersions().length === 0">
                    <h5>No formula versions to set.</h5>
                </div>
                <p data-bind="visible: !blueprintId()">Please select a blueprint</p>
                <button type="submit" id="create-button" data-style="slide-left"
                        data-bind="enable: blueprintId"
                        class="btn btn-success ladda-button pull-right" style="margin-top: 10px">
                    <span class="ladda-label">Create</span>
                </button>
            </div>
        </div>
    </form>
{% endblock %}