<head>
    <meta charset="utf-8">
    <title>stackd.io | Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
</head>

<body>
    {{> banner}}
    {{> sidebarTemplate}}
    {{> page}}
</body>

<template name='page'>
    {{> dashboard}}
    
    {{> stackList}}
    {{> accountList}}
    {{> providerProfileList}}

    {{> awsStackForm}}
    {{> awsAccountForm}}
    {{> awsHostForm}}
    
    {{> providerProfileForm}}
</template>

<template name="dashboard">
    <div id="dashboard" class=" view">
        <div class="span9">
            <h3>Stacks</h3>
            {{> stackTable}}
        </div>
        <div class="span9">
            <h3>Provider Accounts</h3>
            {{> accountTable}}
        </div>
        <div class="span9">
            <h3>Accounts Profiles</h3>
            {{> providerProfileTable}}
        </div>
    </div>
</template>