<template name="sidebarTemplate">

    <div id="sidebar">
        
        <div id="sidebar-shortcuts">
            <div id="sidebar-shortcuts-large">
                <button class="btn btn-small btn-success"><i class="icon-signal"></i></button>
                <button class="btn btn-small btn-info"><i class="icon-pencil"></i></button>
                <button class="btn btn-small btn-warning"><i class="icon-group"></i></button>
                <button id="settings" class="btn btn-small btn-danger"><i class="icon-cogs"></i></button>
            </div>
            <div id="sidebar-shortcuts-mini">
                <span class="btn btn-success"></span>
                <span class="btn btn-info"></span>
                <span class="btn btn-warning"></span>
                <span class="btn btn-danger"></span>
            </div>
        </div><!-- #sidebar-shortcuts -->

        <ul class="nav nav-list">
            <li id="dashboard-href" class="navlink">
              <a href="#">
                <i class="icon-dashboard"></i>
                <span>Dashboard</span>
              </a>
            </li>

            <li id="accounts-href" class="navlink">
              <a href="#">
                <i class="icon-cloud"></i>
                <span>Provider Accounts</span>
                
              </a>
            </li>
            
            <li id="profiles-href" class="navlink">
              <a href="#">
                <i class="icon-user"></i>
                <span>Account Profiles</span>
                
              </a>
            </li>                   

            <li id="stacks-href" class="navlink">
              <a href="#">
                <i class="icon-reorder"></i>
                <span>Stacks</span>
                
              </a>
            </li>
            
            <li id="blueprints-href" class="navlink">
              <a href="#">
                <i class="icon-pencil"></i>
                <span>Blueprints</span>
              </a>
            </li>
            
            <li id="roles-href" class="navlink">
              <a href="#">
                <i class="icon-film"></i>
                <span>Roles</span>
              </a>
            </li>
            
            <li id="schedules-href" class="navlink">
              <a href="#">
                <i class="icon-calendar"></i>
                <span>Schedules</span>
              </a>
            </li>

            
        </ul><!--/.nav-list-->
    </div><!--/#sidebar-->

</template>




