{% extends 'formulas/formula-detail-base.html' %}
{% load staticfiles %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'stackdio/lib/bower_components/select2/dist/css/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stackdio/lib/bower_components/select2-bootstrap-theme/dist/select2-bootstrap.min.css' %}">
{% endblock %}

{% block detail-content %}

<div class="col-sm-9 col-sm-pull-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2 data-bind="text: formula.title" style="margin-top: 0"></h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <p data-bind="text: formula.description"></p>
            </div>
            <div class="col-md-6">
                <a data-bind="text: formula.uri, attr: {href: formula.uri}"></a>
            </div>
        </div>

        <div class="row" style="margin-top: 15px">
            <div class="col-md-6">
                <select id="formulaVersion" style="width: 100%" class="stackdio-hidden-on-load"></select>
            </div>
        </div>

        <div class="row" style="margin-top: 15px">
            <div class="col-md-12">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <!-- ko foreach: sortableFields -->
                        <th data-bind="style: {width: width}">
                            <a href="#" data-bind="text: displayName, click: function (field) { $root.changeSortKey(field) }"></a>
                            <span data-bind="visible: $root.sortKey() === name, css: {dropdown: $root.sortAsc(), dropup: !$root.sortAsc()}">
                                <span class="caret"></span>
                            </span>
                        </th>
                        <!-- /ko -->
                    </tr>
                    </thead>
                    <tbody data-bind="foreach: sortedObjects">
                    <tr class="stackdio-hidden-on-load">
                        <td data-bind="text: title"></td>
                        <td data-bind="text: description"></td>
                        <td data-bind="text: slsPath"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-3 col-sm-pull-3"></div>
{% endblock %}