{% extends 'stackdio/page.html' %}
{% load staticfiles %}

{% block title %}Import Formula{% endblock %}
{% block formula-class %}active{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'stackdio/lib/bower_components/ladda/dist/ladda-themeless.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stackdio/lib/bower_components/select2/dist/css/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stackdio/lib/bower_components/select2-bootstrap-theme/dist/select2-bootstrap.min.css' %}">
{% endblock %}

{% block page-content %}
    <form data-bind="submit: import Formula">
        <div class="row">
            <div class="col-md-12">
                <h2>Import Formula</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>Formulas are imported from external repositories where you can build up an
                    entire ecosystem of components to be installed on a Stack.</p>
                <p>stackd.io has a set of supported formulas located at
                    <a href="https://github.com/stackdio-formulas">https://github.com/stackdio-formulas</a>.
                    To import one or more of the formulas, go into the formula repository you
                    want to import and copy-and-paste the HTTPS clone URL that GitHub provides.
                    For example, the java-formula's clone URL is
                    <code>https://github.com/stackdio-formulas/java-formula.git</code>.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <input data-bind="value: uri" type="text" class="form-control" placeholder="Enter repository URL...">
                </div>

                <label>Git authentication required for private repositories only.&nbsp;&nbsp;Your password will NOT be stored.</label>
                <div class="row">
                    <div class="col-md-5 col-lg-3">
                        <div class="form-group">
                            <label for="git_username" class="sr-only">Git username required for private repositories only</label>
                            <input data-bind="value: username, attr: {placeholder: $root.usernameText}" class="form-control" type="text">
                        </div>
                    </div>
                    <div class="col-md-5 col-lg-3" data-bind="visible: !accessToken()">
                        <div class="form-group">
                            <label for="git_password" class="sr-only">Git password required for private repositories only</label>
                            <input data-bind="value: password" type="password" class="form-control" placeholder="Git password">
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2 checkbox">
                        <label>
                            <input type="checkbox" id="access_token" data-bind="checked: accessToken"> Use access token
                        </label>
                    </div>
                </div>
                <div>
                    <p><strong>Tip:</strong> If using GitHub, you can generate a personal access token in your user settings and use it here by checking the 'Use access token' box.<br>
                       If you have GitHub two-factor authentication enabled, you <strong>MUST</strong> use a personal access token.</p>
                </div>

                <div>
                    <button class="btn btn-danger" data-bind="click: $root.cancelChanges">Cancel</button>
                    <button class="btn btn-primary" data-bind="click: $root.importFormula">Import</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}