{% extends 'stackdio/page.html' %}
{% load staticfiles %}

{% block title %}Import Formula{% endblock %}
{% block formula-class %}active{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'stackdio/lib/bower_components/ladda/dist/ladda-themeless.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stackdio/lib/bower_components/select2/dist/css/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stackdio/lib/bower_components/select2-bootstrap-theme/dist/select2-bootstrap.min.css' %}">
{% endblock %}

{% block page-content %}
    <form data-bind="submit: importFormula">
        <div class="row">
            <div class="col-md-12">
                <p>Formulas are imported from external repositories where you can build up an
                    entire ecosystem of components to be installed on a Stack.</p>
                <p>stackd.io has a set of supported formulas located at
                    <a href="https://github.com/stackdio-formulas">https://github.com/stackdio-formulas</a>.
                    Either select one of these formulas from the dropdown, or copy-and-paste the
                    clone URL from a different repository.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="form-group" id="uri">
                    <input data-bind="value: uri" type="text" class="form-control" placeholder="Enter repository URL">
                </div>
            </div>
            <div class="col-md-4">
                <label for="formulaUri" class="sr-only">Choose a formula</label>
                <select id="formulaUri" style="width: 100%" class="stackdio-hidden-on-load"></select>
            </div>
        </div>

        <div class="row" style="margin-top: 15px">
            <div class="col-md-12">
                <label>Git authentication required for private repositories only.
                    Your password will NOT be stored.</label>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5 col-lg-3">
                <div id="git_username" class="form-group">
                    <label for="formulaUsername" class="sr-only">Git username required for private repositories only</label>
                    <input id="formulaUsername" data-bind="value: username, attr: {placeholder: usernameText}" class="form-control" type="text">
                </div>
            </div>
            <div class="col-md-5 col-lg-3" data-bind="visible: !accessToken()">
                <div id="git_password" class="form-group">
                    <label for="formulaPassword" class="sr-only">Git password required for private repositories only</label>
                    <input id="formulaPassword" data-bind="value: password" type="password" class="form-control" placeholder="Git password">
                </div>
            </div>
            <div id="access_token" class="col-md-2 col-lg-2">
                <div class="checkbox">
                    <label class="checkbox-custom" data-initialize="checkbox">
                        <input class="sr-only" type="checkbox" data-bind="checked: accessToken">
                        <span class="checkbox-label">Use access token</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div>
                    <p><strong>Tip:</strong> If using GitHub, you can generate a personal access
                        token in your user settings and use it here by checking the 'Use access
                        token' box.<br> If you have GitHub two-factor authentication enabled,
                        you <strong>MUST</strong> use a personal access token.</p>
                </div>

                <div>
                    <button type="submit" id="import-button" data-style="slide-left"
                        class="btn btn-success ladda-button" style="margin-top: 10px">
                        <span class="ladda-label">Import</span>
                    </button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}