{% extends 'formulas/formula-detail-base.html' %}
{% load staticfiles %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'stackdio/lib/bower_components/select2/dist/css/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stackdio/lib/bower_components/select2-bootstrap-theme/dist/select2-bootstrap.min.css' %}">
{% endblock %}

{% block detail-content %}
<div class="col-sm-9 col-sm-pull-3">
    <div class="row">
        <div class="col-sm-12">
            <form data-bind="submit: function() { formula.save(); }">
                <div id="title" class="form-group">
                    <label>Title</label>
                    <p class="form-control-static" data-bind="text: formula.title"></p>
                </div>
                <div id="description" class="form-group">
                    <label>Description</label>
                    <p class="form-control-static" data-bind="text: formula.description"></p>
                </div>
                <div id="status" class="form-group">
                    <label>Status</label>
                    <p class="form-control-static">
                        <span class="label" data-bind="css: formula.labelClass, text: formula.status"></span> -
                        <span data-bind="text: formula.statusDetail"></span>
                    </p>
                </div>

                <div id="uri" class="form-group">
                    <label for="formulaUri">URI</label>
                    <input id="formulaUri" data-bind="value: formula.uri" class="form-control" type="text">
                </div>

                <div id="ssh_private_key" class="form-group">
                    <label for="formulaSshPrivateKey">SSH private key (optional)</label>
                    <textarea class="form-control" id="formulaSshPrivateKey" rows="5"
                              data-bind="value: formula.sshPrivateKey, valueUpdate: 'keyup'"></textarea>
                </div>

                <div class="form-group" style="margin-top: 15px">
                    {% if has_update %}
                    <button type="submit" class="btn btn-success">Save</button>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>

    <div class="row" style="margin-top: 15px; border-top: 1px solid #eee">
        <div class="col-md-12">
            <h3>Components</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <select id="formulaVersion" style="width: 100%" class="stackdio-hidden-on-load"></select>
        </div>
        <div class="col-md-6 text-right">
            {% if has_update %}
            <div class="btn-group action-dropdown">
                <button type="button" class="btn btn-info dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    Action <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" data-bind="foreach: formula.availableActions">
                    <li>
                        <!-- Do this function() dance so that `this` is set properly -->
                        <a href="#"
                           data-bind="click: function (action) { $root.formula.performAction(action) }, text: $data"></a>
                    </li>
                </ul>
            </div>
            {% endif %}
        </div>
    </div>

    <div class="row" style="margin-top: 15px">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <!-- ko foreach: sortableFields -->
                    <th data-bind="style: {width: width}">
                        <a href="#" data-bind="text: displayName, click: function (field) { $root.changeSortKey(field) }"></a>
                        <span data-bind="visible: $root.sortKey() === name, css: {dropdown: $root.sortAsc(), dropup: !$root.sortAsc()}">
                            <span class="caret"></span>
                        </span>
                    </th>
                    <!-- /ko -->
                </tr>
                </thead>
                <tbody data-bind="foreach: sortedObjects">
                <tr class="stackdio-hidden-on-load">
                    <td data-bind="text: title"></td>
                    <td data-bind="text: description"></td>
                    <td data-bind="text: slsPath"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}