{% extends 'stackdio/page.html' %}
{% load staticfiles %}

{% block title %}Import Formula{% endblock %}
{% block formula-class %}active{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'stackdio/lib/bower_components/ladda/dist/ladda-themeless.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stackdio/lib/bower_components/select2/dist/css/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stackdio/lib/bower_components/select2-bootstrap-theme/dist/select2-bootstrap.min.css' %}">
{% endblock %}

{% block page-content %}
    <form data-bind="submit: importFormula">
        <div class="row">
            <div class="col-md-12">
                <p>Formulas are imported from external repositories where you can build up an
                    entire ecosystem of components to be installed on a Stack.</p>
                <p>stackd.io has a set of supported formulas located at
                    <a href="https://github.com/stackdio-formulas">https://github.com/stackdio-formulas</a>.
                    Either select one of these formulas from the dropdown, or copy-and-paste the
                    clone URL from a different repository.</p>
                <p><strong>Note:</strong> If your repository requires username/password authentication,
                    you must include them in the repository URL like this:
                    <br>
                    <code>https://&lt;user&gt;:&lt;pass&gt;@&lt;hostname&gt;/&lt;repo&gt;.git</code>
                    <br>
                    PLEASE do not use your real user password here, as it will be stored in plain text.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="form-group" id="uri">
                    <input data-bind="value: uri" type="text" class="form-control" placeholder="Enter repository URL">
                </div>
            </div>
            <div class="col-md-4">
                <label for="formulaUri" class="sr-only">Choose a formula</label>
                <select id="formulaUri" style="width: 100%" class="stackdio-hidden-on-load"></select>
            </div>
        </div>

        <div class="row" style="margin-top: 15px">
            <div class="col-md-6 col-md-push-6">
                <div>
                    <p>
                        <strong>Tip:</strong> If using GitHub, you can generate a personal access
                        token in your user settings and use it here by inserting it in the url as
                        your username with an empty password.<br> If you have GitHub two-factor
                        authentication enabled, you <strong>MUST</strong> use a personal access token.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-md-pull-6">
                <div id="ssh_private_key" class="form-group">
                    <label for="formulaSshPrivateKey">SSH private key (optional)</label>
                    <textarea class="form-control" id="formulaSshPrivateKey" rows="25"
                              data-bind="value: sshPrivateKey, valueUpdate: 'keyup'"></textarea>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div>
                    <button type="submit" id="import-button" data-style="slide-left"
                        class="btn btn-success ladda-button" style="margin-top: 10px">
                        <span class="ladda-label">Import</span>
                    </button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}