{% extends 'formulas/formula-detail-base.html' %}
{% load staticfiles %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'stackdio/lib/bower_components/select2/dist/css/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stackdio/lib/bower_components/select2-bootstrap-theme/dist/select2-bootstrap.min.css' %}">
{% endblock %}

{% block detail-content %}
<div class="col-sm-9 col-sm-pull-3">
    <div class="row">
        <div class="col-md-12">
            <h2 data-bind="text: formula.title" style="margin-top: 0"></h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <p data-bind="text: formula.description"></p>
        </div>
        <div class="col-md-6">
            <a data-bind="text: formula.uri, attr: {href: formula.uri}"></a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p><span class="label" data-bind="css: formula.labelClass, text: formula.status"></span> -
                <span data-bind="text: formula.statusDetail"></span></p>
        </div>
    </div>

    <div class="row" style="margin-top: 15px; margin-bottom: 15px">
        <form data-bind="submit: function() { formula.save(); }">
            <div class="col-sm-6">
                <div id="git_username" class="form-group">
                    <label for="formulaUsername" class="sr-only">Git username required for private repositories only</label>
                    <input id="formulaUsername" data-bind="value: formula.gitUsername, attr: {placeholder: usernameText}" class="form-control" type="text">
                </div>
            </div>
            <div id="access_token" class="col-sm-4">
                <div class="checkbox">
                    <label class="checkbox-custom" data-initialize="checkbox">
                        <input class="sr-only" type="checkbox" data-bind="checked: formula.accessToken">
                        <span class="checkbox-label">Use access token</span>
                    </label>
                </div>
            </div>
            <div class="col-sm-2">
                {% if has_update %}
                <button type="submit" class="btn btn-success">Save</button>
                {% endif %}
            </div>
        </form>
    </div>

    <div class="row" style="border-top: 1px solid #eee">
        <div class="col-md-12">
            <h3>Components</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <select id="formulaVersion" style="width: 100%" class="stackdio-hidden-on-load"></select>
        </div>
        <div class="col-md-6 text-right">
            {% if has_update %}
            <div class="btn-group action-dropdown">
                <button type="button" class="btn btn-info dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    Action <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" data-bind="foreach: formula.availableActions">
                    <li>
                        <!-- Do this function() dance so that `this` is set properly -->
                        <a href="#"
                           data-bind="click: function (action) { $root.formula.performAction(action) }, text: $data"></a>
                    </li>
                </ul>
            </div>
            {% endif %}
        </div>
    </div>

    <div class="row" style="margin-top: 15px">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <!-- ko foreach: sortableFields -->
                    <th data-bind="style: {width: width}">
                        <a href="#" data-bind="text: displayName, click: function (field) { $root.changeSortKey(field) }"></a>
                        <span data-bind="visible: $root.sortKey() === name, css: {dropdown: $root.sortAsc(), dropup: !$root.sortAsc()}">
                            <span class="caret"></span>
                        </span>
                    </th>
                    <!-- /ko -->
                </tr>
                </thead>
                <tbody data-bind="foreach: sortedObjects">
                <tr class="stackdio-hidden-on-load">
                    <td data-bind="text: title"></td>
                    <td data-bind="text: description"></td>
                    <td data-bind="text: slsPath"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}