{% extends 'rest_framework/base.html' %}

{% block title %}stackd.io API{% endblock title %}
{% block branding %}<a class='brand' href='/api'>stackd.io API</a>{% endblock branding %}
{% block userlinks %}
  {% if user.is_authenticated %}
      <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              {{ user }}
              <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
              <li><a href="{% url 'logout' %}">Logout</a></li>
          </ul>
      </li>
  {% else %}
      <li><a href="{% url 'index' %}">Login</a></li>
  {% endif %}
{% endblock userlinks %}
