<template name="awsHostForm">
    <form id="aws-host-form" class="hide modal fade stackdform" action="">
        <legend>New AWS Host</legend>

        <input id="provider-type" type="hidden" value="1">

        <div class="control-group">
            <label class="control-label" for="hostCount">Instance count</label>
            <div class="controls">
                <input id="hostCount" name="hostCount" type="text" class="input-xlarge">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="accountProfile">Account profile</label>
            <div class="controls">
                <select name="accountProfile" id="accountProfile">
                {{#each profiles}}
                    <option value="{{id}}">{{title}}</option>
                {{/each}}
                </select>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="instanceSize">Instance size</label>
            <div class="controls">
                <select id="instanceSize" name="instanceSize" class="input-xlarge">
                {{#each instancesizes}}
                    <option value="{{id}}">{{title}}</option>
                {{/each}}
                </select>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="securityGroups">Security groups</label>
            <div class="controls">
                <input id="securityGroups" name="securityGroups" type="text" class="input-xlarge" placeholder="comma,delimited,group,names">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="saltRoles">Role</label>
            <div class="controls">
                <input id="saltRoles" name="saltRoles" type="text" class="input-xlarge">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="hostPattern">Host pattern</label>
            <div class="controls">
                <input id="hostPattern" name="hostPattern" type="text" class="input-xlarge">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="availabilityRegion">AWS Region</label>
            <div class="controls">
                <input id="availabilityRegion" name="availabilityRegion" type="text" class="input-xlarge">
            </div>
        </div>

        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button id="submit-account" class="btn btn-primary">Save Host</button>

        </div>
    </form>
</template>
